<sj-spinner [isRunning]="showSpinner"></sj-spinner>

<div class="row">
  <!-- Content -->
  <div class="col col-xs-8">
    <div class="card">
      <div class="card-block">
        <!-- Card title -->
        <div class="row">
          <div class="col col-xs-4"><h4 class="card-title">Instances list</h4></div>
          <div class="col col-xs-8">
            <button type="button"
                    class="btn btn-primary pull-right ml-1 mb-1"
                    (click)="CreateInstance.show()"><i class="fa fa-plus mr-1"></i>Create Instance
            </button>

            <sj-search-box class="pull-right"
                           (update)="term = $event"></sj-search-box>
            <sj-filter class="pull-right" [filterList]="moduleTypes"
                       (update)="typeterm = $event"></sj-filter>
          </div>
        </div>

        <!-- Alerts -->
        <sj-alerts [alerts]="alerts"></sj-alerts>

        <!-- Instances list -->
        <div class="table-wrapper">
          <table class="table table-hover table-sm mt-1 mb-0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th class="actions-column">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!instancesList || (instancesList && instancesList.length === 0)">
              <td colspan="20" class="text-center">No instances have been found.</td>
            </tr>

            <tr *ngFor="let instance of instancesList | orderBy: 'name' | listFilter : { name: term, type: typeterm}"
                [ngClass]="{ 'table-info': currentInstance && instance.name === currentInstance.name }"
                (click)="selectInstance(instance)">
              <td>{{ instance.name }}</td>
              <td>
                <span class="tag tag-default"
                      [ngClass]="{
                        'tag-default': instance.status === 'stopped',
                        'tag-success': instance.status === 'started',
                        'tag-info': instance.status === 'starting' || instance.status === 'stopping',
                        'tag-danger': instance.status === 'failed',
                        'tag-warning': instance.status === 'error',
                        'tag-primary': instance.status === 'ready'
                      }">{{ instance.status }}</span>
              </td>
              <td class="actions-column">

                <button type="button"
                        class="btn btn-sm btn-secondary"
                        *ngIf="instance.restAddress"
                        [disabled]="instance.status === 'starting'"
                        title="Show instance tasks"
                        (click)="showInstanceTasks(ShowInstanceTasks, instance)">
                  <i class="fa fa-info-circle"></i>
                </button>

                <i class="fa fa-spinner fa-spin btn btn-sm btn-secondary"
                   *ngIf="instance.status == 'starting' || instance.status == 'stopping' " aria-hidden="true"></i>

                <button type="button"
                        class="btn btn-sm btn-secondary"
                        *ngIf="instance.status == 'stopped' || instance.status == 'failed' || instance.status == 'ready'"
                        title="Start instance"
                        (click)="startInstance(instance)">
                  <i class="fa fa-play"></i>
                </button>

                <button type="button"
                        class="btn btn-sm btn-secondary"
                        *ngIf="instance.status == 'started'"
                        title="Stop instance"
                        (click)="stopInstance(instance)">
                  <i class="fa fa-stop"></i>
                </button>

                <button type="button"
                        class="btn btn-sm btn-secondary"
                        title="Delete instance"
                        (click)="deleteInstanceConfirm(DeleteInstance, instance)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailed info -->
  <div class="col col-xs-4">
    <div class="card">
      <div class="card-header">Detailed information about node</div>
      <div class="card-block">
        <div class="overflow-x-scroll">
          <ul *ngIf="currentInstance">
            <li *ngIf="currentInstance.stage">
              <span class="title">Stages:</span>{{currentInstance.stage | json}}
            </li>
            <li *ngIf="currentInstance.status">
              <span class="title">Status:</span>{{currentInstance.status}}
            </li>
            <li *ngIf="currentInstance.name">
              <span class="title">Name:</span>{{currentInstance.name}}
            </li>
            <li *ngIf="currentInstance.module.moduleType">
              <span class="title">Module-type:</span>{{currentInstance.module.moduleType}}
            </li>
            <li *ngIf="currentInstance.module.moduleName">
              <span class="title">Module-name:</span>{{currentInstance.module.moduleName}}
            </li>
            <li *ngIf="currentInstance.module.moduleVersion">
              <span class="title">Module-version:</span>{{currentInstance.module.moduleVersion}}
            </li>
            <li *ngIf="currentInstance.description">
              <span class="title">Description:</span>{{currentInstance.description}}
            </li>
            <li *ngIf="currentInstance.engine">
              <span class="title">Engine:</span>{{currentInstance.engine}}
            </li>
            <li *ngIf="currentInstance.inputs">
              <span class="title">Inputs:</span>{{currentInstance.inputs}}
            </li>
            <li *ngIf="currentInstance.outputs">
              <span class="title">Outputs:</span>{{currentInstance.outputs}}
            </li>
            <li *ngIf="currentInstance.input">
              <span class="title">Input:</span>{{currentInstance.input}}
            </li>
            <li *ngIf="currentInstance.output">
              <span class="title">Output:</span>{{currentInstance.output}}
            </li>
            <li *ngIf="currentInstance.checkpointMode">
              <span class="title">Checkpoint mode:</span>{{currentInstance.checkpointMode}}
            </li>
            <li *ngIf="currentInstance.checkpointInterval">
              <span class="title">Checkpoint interval:</span>{{currentInstance.checkpointInterval}}
            </li>
            <li *ngIf="currentInstance.stateManagement">
              <span class="title">State management:</span>{{currentInstance.stateManagement}}
            </li>
            <li *ngIf="currentInstance.duplicateCheck || currentInstance.duplicateCheck === false">
              <span class="title">Duplicate check:</span>{{currentInstance.duplicateCheck}}
            </li>
            <li *ngIf="currentInstance.lookupHistory">
              <span class="title">Lookup history:</span>{{currentInstance.lookupHistory}}
            </li>
            <li *ngIf="currentInstance.queueMaxSize">
              <span class="title">Queue max-size:</span>{{currentInstance.queueMaxSize}}
            </li>
            <li *ngIf="currentInstance.defaultEvictionPolicy">
              <span class="title">Default eviction policy:</span>{{currentInstance.defaultEvictionPolicy}}
            </li>
            <li *ngIf="currentInstance.evictionPolicy">
              <span class="title">Eviction policy:</span>{{currentInstance.evictionPolicy}}
            </li>
            <li *ngIf="currentInstance.stateFullCheckpoint">
              <span class="title">State full checkpoint:</span>{{currentInstance.stateFullCheckpoint}}
            </li>
            <li *ngIf="currentInstance.parallelism">
              <span class="title">Parallelism:</span>{{currentInstance.parallelism}}
            </li>
            <li *ngIf="currentInstance.options">
              <span class="title">Options:</span>{{currentInstance.options | json }}
            </li>
            <li *ngIf="currentInstance.startFrom">
              <span class="title">Start-from:</span>{{currentInstance.startFrom}}
            </li>
            <li *ngIf="currentInstance.perTaskCores">
              <span class="title">Per-task cores:</span>{{currentInstance.perTaskCores}}
            </li>
            <li *ngIf="currentInstance.perTaskRam">
              <span class="title">Per-task ram:</span>{{currentInstance.perTaskRam}}
            </li>
            <li *ngIf="currentInstance.coordinationService">
              <span class="title">Coordination service:</span>{{currentInstance.coordinationService}}
            </li>
            <li *ngIf="currentInstance.eventWaitIdleTime">
              <span class="title">Event-wait-idle-time:</span>{{currentInstance.eventWaitIdleTime}}
            </li>
            <li *ngIf="currentInstance.window">
              <span class="title">Window:</span>{{currentInstance.window}}
            </li>
            <li *ngIf="currentInstance.slidingInterval">
              <span class="title">Sliding interval:</span>{{currentInstance.slidingInterval}}
            </li>
            <li *ngIf="currentInstance.mainStream">
              <span class="title">Main stream:</span>{{currentInstance.mainStream}}
            </li>
            <li *ngIf="currentInstance.relatedStreams">
              <span class="title">Related streams:</span>{{currentInstance.relatedStreams}}
            </li>
            <li *ngIf="currentInstance.batchFillType">
              <span class="title">Batch-fill-type:</span>{{currentInstance.batchFillType | json}}
            </li>
            <li *ngIf="currentInstance.performanceReportingInterval">
              <span class="title">Performance reporting interval:</span>{{currentInstance.performanceReportingInterval}}
            </li>
            <li *ngIf="currentInstance.jvmOptions">
              <span class="title">Jvm options:</span>{{currentInstance.jvmOptions | json}}
            </li>
            <li *ngIf="currentInstance.environmentVariables">
              <span class="title">Environment variables:</span>{{currentInstance.environmentVariables| json}}
            </li>
            <li *ngIf="currentInstance.nodeAttributes">
              <span class="title">Node attributes:</span>{{currentInstance.nodeAttributes |
              json}}
            </li>
            <li *ngIf="currentInstance.backupCount || currentInstance.backupCount === 0">
              <span class="title">Backup count:</span>{{currentInstance.backupCount}}
            </li>
            <li *ngIf="currentInstance.asyncBackupCount || currentInstance.asyncBackupCount === 0">
              <span class="title">Async-backup count:</span>{{currentInstance.asyncBackupCount}}
            </li>
            <li *ngIf="currentInstanceTasks">
              <span class="title">
                {{currentInstance.module.moduleType !== 'input-streaming' ? 'Execution-plan:': 'Tasks:'}}
              </span>
              <ul>
                <li>{{currentInstanceTasks | json}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #CreateInstance="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="CreateInstance.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create instance</h4>
        <sj-alerts [alerts]="formAlerts"></sj-alerts>
      </div>

      <div class="modal-body">

        <!-- Clone from existing component -->
        <fieldset class="form-check">
          <label class="form-check-label"><input class="form-check-input" [(ngModel)]="cloneInstance" (click)="clearInstance()" type="checkbox">&nbsp;Clone from
            existing instance</label>
        </fieldset>

        <!-- Create instance form -->
        <form #instanceForm="ngForm" *ngIf="isFormReady" (ngSubmit)="createInstance(CreateInstance)">

          <!-- Choose instnce -->
          <fieldset *ngIf="cloneInstance" class="form-group row">
            <label class="col-form-label col-sm-2 required">Choose instance</label>
            <div class="col col-sm-10">
              <select [(ngModel)]="cloningInstance" name="instanceToClone"
                      (change)="createByClone($event.target.selectedIndex)" required
                      class="form-control">
                <option *ngFor="let instance of cloneInstancesList" [ngValue]="instance">{{instance.name}}</option>
              </select>
            </div>
          </fieldset>

          <!-- Choose module -->
          <fieldset *ngIf="!cloneInstance" class="form-group row">
            <label class="col-form-label col-sm-2 required">Choose module</label>
            <div class="col col-sm-10">
              <select [(ngModel)]="newInstance.module" name="instanceModule" required
                      class="form-control">
                <option *ngFor="let module of modulesList" [ngValue]="module">{{module.moduleName}}
                  {{module.moduleType}} {{module.moduleVersion}}
                </option>
              </select>
            </div>
          </fieldset>

          <!-- Module -->
          <fieldset *ngIf="cloneInstance && newInstance.module" class="form-group row">
            <label class="col-form-label col-sm-2 required">Module</label>
            <div class="col col-sm-10">
              <select disabled [(ngModel)]="newInstance.module" name="instanceModule" required
                      class="form-control">
                <option [ngValue]="newInstance.module">{{newInstance.module.moduleName}}
                  {{newInstance.module.moduleType}} {{newInstance.module.moduleVersion}}
                </option>
              </select>
            </div>
          </fieldset>

          <template [ngIf]="newInstance.module">
            <!-- Name -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2 required">Name</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.name" name="instanceName" type="text" required
                       pattern="[a-zA-z][a-zA-Z0-9-]*"  class="form-control">
              </div>
            </fieldset>

            <!-- Description -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Description</label>
              <div class="col col-sm-10">
                <textarea [(ngModel)]="newInstance.description" name="instanceDescription"
                          class="form-control"></textarea>
              </div>
            </fieldset>

            <!-- Inputs -->
            <fieldset class="form-group row"
                      *ngIf="newInstance.module && (newInstance.module.moduleType === 'regular-streaming' || newInstance.module.moduleType === 'batch-streaming') && newInstance.inputs">

              <label class="col-form-label col-sm-2 required">Inputs</label>
              <div class="col-sm-10">
                <div *ngFor='let input of newInstance.inputs; let i = index; trackBy:customTrackBy'
                     class="mb-1 row">
                  <div class="col-sm-6">
                    <select [(ngModel)]="newInstance.inputs[i]"
                            (change)="checkTimestampAcceptable()"
                            name="instanceInputs{{i}}" required class="form-control">
                      <option *ngFor="let stream of streamsList | streamFilter: 'stream.t-stream,stream.kafka'">{{stream.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select [(ngModel)]="newInstance.inputsTypes[i]"
                              name="instanceInputType{{i}}" required class="form-control">
                        <option>full</option>
                        <option>split</option>
                      </select>
                      <span class="input-group-btn" *ngIf="i!==0">
                        <button type="button"
                                class="btn btn-secondary"
                                (click)="removeInput(i)">
                          <i class="fa fa-remove"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>

                <button type="button" (click)="addInput()" class="btn btn-sm btn-secondary">+ Add Input</button>
              </div>
            </fieldset>

            <!-- Input -->
            <fieldset *ngIf="newInstance.module.moduleType === 'output-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Input</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.input" name="instanceInput" required
                        class="form-control">
                  <option *ngFor="let stream of streamsList | streamFilter: 'stream.t-stream'" value="{{stream.name}}">{{stream.name}}</option>
                </select>
              </div>
            </fieldset>

            <!-- Output -->
            <fieldset *ngIf="newInstance.module.moduleType === 'output-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Output</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.output" name="instanceOutput" required
                        class="form-control">
                  <option *ngFor="let stream of streamsList | streamFilter: 'jdbc-output,elasticsearch-output'" value="{{stream.name}}">{{stream.name}}</option>
                </select>
              </div>
            </fieldset>

            <!-- Outputs -->
            <fieldset
              *ngIf="newInstance.module.moduleType !== 'output-streaming' "
              class="form-group row">
              <label class="col-form-label col-sm-2 required">Outputs</label>

              <div class="col col-sm-10">
                <div *ngFor='let output of newInstance.outputs; let i = index;  trackBy:customTrackBy'
                     class="input-group mb-1">
                  <select [(ngModel)]="newInstance.outputs[i]"
                          name="instanceOutputs{{i}}" required class="form-control">
                    <option *ngFor="let stream of streamsList | streamFilter: 'stream.t-stream'" value="{{stream.name}}">{{stream.name}}</option>
                  </select>
                  <span class="input-group-btn" *ngIf="i!==0">
                    <button type="button"
                            class="btn btn-secondary"
                            (click)="removeOutput(i)">
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </div>

                <button type="button" (click)="addOutput()" class="btn btn-sm btn-secondary">+ Add Output</button>
              </div>
            </fieldset>

            <!-- Window -->
            <fieldset *ngIf="newInstance.module.moduleType === 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Window</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.window" name="instanceWindow" type="number" pattern="[1-9][0-9]*" class="form-control">
              </div>
            </fieldset>

            <!-- Sliding-interval -->
            <fieldset *ngIf="newInstance.module.moduleType === 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Sliding interval</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.slidingInterval" name="instanceSlidingInterval" type="number" pattern="[1-9][0-9]*" class="form-control">
              </div>
            </fieldset>

            <!-- Main-stream -->
            <!--fieldset *ngIf="newInstance.module.moduleType === 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Main stream</label>
              <div class="col col-sm-10">
                <div class="mb-1 row">
                  <div class="col-sm-6">
                    <select [value]="newInstance.mainStream" (input)="newInstance.mainStream = $event.target.value"
                            name="instanceMainStream" required class="form-control">
                      <option *ngFor="let stream of streamsList | streamFilter: 'stream.t-stream,stream.kafka'" value="{{stream.name}}">{{stream.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select [value]="newInstance.mainStreamType" (input)="newInstance.mainStreamType = $event.target.value"
                              name="instanceMainStreamType" required class="form-control">
                        <option>full</option>
                        <option>split</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset-->

            <!-- Related-streams -->
            <!--fieldset *ngIf="newInstance.module.moduleType === 'batch-streaming'"
                      class="form-group row">
              <label class="col-form-label col-sm-2">Related streams</label>

              <div class="col col-sm-10">
                <div *ngFor="let relatedStream of newInstance.relatedStreams; let i = index;  trackBy:customTrackBy"
                     class="input-group mb-1">
                  <div class="col-sm-6">
                    <select [value]="newInstance.relatedStreams[i]" (input)="newInstance.relatedStreams[i] = $event.target.value"
                            name="instanceRelatedStream" class="form-control">
                      <option *ngFor="let stream of streamsList | streamFilter: 'stream.t-stream,stream.kafka'" value="{{stream.name}}">{{stream.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select [value]="newInstance.relatedStreamsType[i]" (input)="newInstance.relatedStreamsType[i] = $event.target.value"
                              name="instanceRelatedStreaInputType" class="form-control">
                        <option>full</option>
                        <option>split</option>
                      </select>
                    </div>
                  </div>
                  <span class="input-group-btn">
                    <button type="button"
                            class="btn btn-secondary"
                            (click)="removeRelatedStream(i)">
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </div>

                <button type="button" (click)="addRelatedStream()" class="btn btn-sm btn-secondary">+ Add related stream</button>
              </div>
            </fieldset-->

            <!-- Batch-fill-type -->
            <!--fieldset *ngIf="newInstance.module.moduleType === 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Batch-fill-type</label>
              <div class="col col-sm-10">
                <div class="mb-1 row">
                  <div class="col-sm-6">
                    <select [value]="newInstance.batchFillType.typeName" (input)="newInstance.batchFillType.typeName = $event.target.value"
                            name="instanceBatchFillTypeName" required class="form-control">
                      <option>every-nth</option>
                      <option>time-interval</option>
                      <option>transaction-interval</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input [(ngModel)]="newInstance.batchFillType.value" name="instanceBatchFillTypeValue" type="number"
                             required class="form-control" min="1">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset-->

            <!-- Checkpoint mode -->
            <fieldset *ngIf="newInstance.module.moduleType!== 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Checkpoint mode</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.checkpointMode" name="instanceCheckpointMode" required
                        class="form-control">
                  <option *ngIf="newInstance.module.moduleType !== 'output-streaming'">time-interval</option>
                  <option>every-nth</option>
                </select>
              </div>
            </fieldset>

            <!-- Checkpoint interval -->
            <fieldset *ngIf="newInstance.module.moduleType !== 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Checkpoint interval</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.checkpointInterval" name="instanceCheckpointInterval" type="number"
                       required class="form-control">
              </div>
            </fieldset>

            <!-- State management -->
            <fieldset *ngIf="newInstance.module.moduleType === 'regular-streaming' ||
                              newInstance.module.moduleType === 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">State management</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.stateManagement" name="instanceStateManagement"
                        class="form-control">
                  <option>none</option>
                  <option>ram</option>
                  <option>rocks</option>
                </select>
              </div>
            </fieldset>

            <!-- State full checkpoint -->
            <fieldset *ngIf="newInstance.module.moduleType === 'regular-streaming' ||
                              newInstance.module.moduleType === 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">State full checkpoint</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.stateFullCheckpoint" name="instanceStateFullCheckpoint"
                       type="number" class="form-control">
              </div>
            </fieldset>

            <!-- Parallelism -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Parallelism</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.parallelism" name="instanceParallelism" type="text"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Options -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Options</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.options" validJson name="instanceOptions" type="text"
                       #instanceOptions="ngModel" class="form-control">
              </div>
            </fieldset>

            <div *ngIf="formErrors.instanceOptions && instanceOptions.touched" class="alert alert-warning">
              {{ formErrors.instanceOptions }}
            </div>

            <!-- Start-from -->
            <fieldset *ngIf="newInstance.module.moduleType !== 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Start from</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.startFrom" name="instanceStartFrom"
                        class="form-control">
                  <option value="newest">newest</option>
                  <option value="oldest">oldest</option>
                  <option value="datetime" *ngIf="startFromDateTimeAcceptable">dateime</option>
                </select>
              </div>
            </fieldset>

            <!-- DateTime -->
            <fieldset *ngIf="newInstance.startFrom === 'datetime'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Start from timestamp</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.startFromDateTime" name="instanceStartFromDateTime" type="datetime"
                       required class="form-control">
              </div>
            </fieldset>

            <!-- Per-task-cores -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Per-task cores</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.perTaskCores" name="instancePerTaskCores" type="number" step="0.01"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Per-task-ram -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Per-task ram</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.perTaskRam" name="instancePerTaskRam" type="number"
                       class="form-control">
              </div>
            </fieldset>

            <!-- JVM options -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">JVM options</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.jvmOptions" validJson name="instanceJvmOptions" type="text"
                       #instanceJvmOptions="ngModel" class="form-control">
              </div>
            </fieldset>

            <div *ngIf="formErrors.instanceJvmOptions && instanceJvmOptions.touched" class="alert alert-warning">
              {{ formErrors.instanceJvmOptions }}
            </div>

            <!-- Node -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Node attributes</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.nodeAttributes" name="instanceNodeAttributes" type="text"
                       #instanceNodeAttributes="ngModel" validJson class="form-control">
              </div>
            </fieldset>

            <div *ngIf="formErrors.instanceNodeAttributes && instanceNodeAttributes.touched" class="alert alert-warning">
              {{ formErrors.instanceNodeAttributes }}
            </div>

            <!-- Coordination service -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2 required">Coordination service</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.coordinationService" name="instanceCoordinationService"
                        required class="form-control">
                  <option *ngFor="let service of servicesList | serviceFilter : 'zookeeper' " value={{service.name}}>
                    {{service.name}}
                  </option>
                </select>
              </div>
            </fieldset>

            <!-- Performance reporting interval -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Performance reporting interval</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.performanceReportingInterval"
                       name="instancePerformanceReportingInterval" type="number" class="form-control">
              </div>
            </fieldset>

            <!-- Event-wait-idle-time -->
            <fieldset *ngIf="newInstance.module.moduleType === 'regular-streaming' ||
                              newInstance.module.moduleType === 'batch-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Event-wait-idle-time</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.eventWaitIdleTime" name="instanceEventWaitIdleTime" type="number"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Environment variables -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Environment variables</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.environmentVariables" name="instanceEnvironmentVariables"
                       type="text" #instanceEnvironmentVariables="ngModel" validJson class="form-control">
              </div>
            </fieldset>

            <div *ngIf="formErrors.instanceEnvironmentVariables && instanceEnvironmentVariables.touched" class="alert alert-warning">
              {{ formErrors.instanceEnvironmentVariables }}
            </div>

            <!-- Duplicate check -->
            <fieldset *ngIf="newInstance.module.moduleType === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Duplicate check</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.duplicateCheck" name="instanceDuplicateCheck"
                        class="form-control">
                  <option>false</option>
                  <option>true</option>
                </select>
              </div>
            </fieldset>

            <!-- Lookup history -->
            <fieldset *ngIf="newInstance.module.moduleType === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Lookup history</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.lookupHistory" name="instanceLookupHistory" type="number"
                       required class="form-control">
              </div>
            </fieldset>

            <!-- Queue max size -->
            <fieldset *ngIf="newInstance.module.moduleType === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Queue max-size</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.queueMaxSize" name="instanceQueueMaxSize" type="number"
                       required class="form-control">
              </div>
            </fieldset>

            <!-- Default eviction policy -->
            <fieldset *ngIf="newInstance.module.moduleType === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Default eviction policy</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.defaultEvictionPolicy" name="instanceDefaultEvictionPolicy"
                        class="form-control">
                  <option>LRU</option>
                  <option>LFU</option>
                  <option>NONE</option>
                </select>
              </div>
            </fieldset>

            <!-- Eviction policy -->
            <fieldset *ngIf="newInstance.module.moduleType === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Eviction policy</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.evictionPolicy" name="instanceEvictionPolicy"
                        class="form-control">
                  <option>fix-time</option>
                  <option>expanded-time</option>
                </select>
              </div>
            </fieldset>

            <!-- Backup count -->
            <fieldset *ngIf="newInstance.module.moduleType === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Backup count</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.backupCount" name="instanceBackupCount" type="number" max="6"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Async backup count -->
            <fieldset *ngIf="newInstance.module.moduleType === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Async-backup count</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.asyncBackupCount" name="instanceAsyncBackupCount" type="number"
                       class="form-control">
              </div>
            </fieldset>
          </template>

          <!-- Action buttons -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="CreateInstance.hide()">Cancel</button>
            <button type="submit"
                    [disabled]="!(instanceForm.form.valid)"
                    (click)="createInstance(CreateInstance)"
                    class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #DeleteInstance="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteInstance.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" *ngIf="currentInstance && ifInstanceCanBeRemoved()">
        <p>Do you really want to delete instance "{{ currentInstance.name }}"? This action can not be undone!</p>
      </div>

      <div class="modal-body" *ngIf="currentInstance && !ifInstanceCanBeRemoved()">
        <p>You can not delete instance whose status is "starting", "started" or "stopping"</p>
        <ul>
          <li *ngFor="let service of blockingServices | orderBy: 'name' ">{{service.name}}</li>
        </ul>
      </div>

      <div class="modal-footer">
        <div *ngIf="currentInstance && ifInstanceCanBeRemoved()">
          <button type="button" class="btn btn-secondary" (click)="DeleteInstance.hide()">Cancel</button>
          <button type="button" class="btn btn-danger"
                  (click)="deleteInstance(DeleteInstance)">Delete
          </button>
        </div>

        <div *ngIf="currentInstance && !ifInstanceCanBeRemoved()">
          <button type="button" class="btn btn-primary" (click)="DeleteInstance.hide()">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #ShowInstanceTasks="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="ShowInstanceTasks.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Mesos framework tasks</h4>
      </div>
      <div class="modal-body" *ngIf="!tasks">
        <p>The rest-address is not available. Try later.</p>
      </div>

      <div class="modal-body" *ngIf="tasks">
        <span *ngFor="let task of tasks">
          <h5>{{task.id}}</h5>
          <ul>
            <li *ngIf="task.state">
              <span class="title">State:</span>{{task.state}}
            </li>
            <li *ngIf="task.directories">
              <span class="title">Directories:</span>
              <ul>
                <li *ngFor="let dir of task.directories">
                  <a href="{{dir.path}}">{{dir.name}}</a></li>
              </ul>
            </li>
            <li *ngIf="task.stateChange">
              <span class="title">State change:</span>{{task.stateChange}}
            </li>
            <li *ngIf="task.reason">
              <span class="title">Reason:</span>{{task.reason}}
            </li>
            <li *ngIf="task.lastNode">
              <span class="title">Last node:</span>{{task.lastNode}}
            </li>
            <li *ngIf="task.node">
              <span class="title">Node:</span>{{task.node}}
            </li>
          </ul>
        </span>
      </div>

      <div class="modal-footer">
         <button type="button" class="btn btn-primary" (click)="ShowInstanceTasks.hide()">OK</button>
      </div>
    </div>
  </div>
</div>
