<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['config/settings']" [routerLinkActive]="['active']"><i class="fa fa-cog"></i>Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['providers']" [routerLinkActive]="['active']"><i class="fa fa-briefcase"></i>Providers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['services']" [routerLinkActive]="['active']"><i class="fa fa-cogs"></i>Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['streams']" [routerLinkActive]="['active']"><i class="fa fa-exchange"></i>Streams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['modules']" [routerLinkActive]="['active']"><i class="fa fa-cubes"></i>Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['custom']" [routerLinkActive]="['active']"><i class="fa fa-file-o"></i>Custom files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['instances']" [routerLinkActive]="['active']"><i class="fa fa-server"></i>Instances</a>
      </li>
    </ul>
  </nav>
</div>
