:host {
  position: fixed;
  right: auto;
  top: 0;
  left: -200px;
  bottom: 0;
  width: 200px;
  z-index: 1;
  div.sidebar {
    display: flex !important;
    flex-direction: column;
  }
  ul {
    list-style: none;
  }
}
