:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.detail-info {
  margin-right: 10px;
}

.streams-list {
  width: 75%;
  display: inline-block;
  margin-top: 30px;
}

.streams-list ul {
  list-style-type: none;
  padding: 0 0 0 8px;
  padding-top: 60px;
}

.streams-list ul li:hover {
  cursor: pointer;
  background-color: rgba(155, 228, 175, 0.1);
}

.streams-list ul > li:nth-of-type(1):hover {
  cursor: default !important;
  background-color: white !important;
}

.right-detail {
  display: block;
  padding: 0 16px;
  float: right;
  height: 100%;
  width: 24%;
  border-left: 2px solid #ececec;
  top: 0;
}

.right-detail p {
  text-align: center;
}

h2 {
  text-align: center;
}

.create-provider {
  float: right;
  color: white;
}

.right-inner-addon {
  position: relative;
  float: right;
  margin-right: 15px;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0;
  padding: 10px 12px;
  pointer-events: none;
}

.form-type,
.form-desc {
  width: 70% !important;
}

.form-add-host {
  margin-left: 23%;
  margin-top: 5px;
  width: 10%;
  color: #07c;
}

.form-submit {
  width: 35%;
}

.form-actions {
  text-align: right;
  margin-right: 5%;
}

.form-create-provider .form-control {
  width: 70%;
}

.modal-title {
  text-align: center !important;
}

.streams-list ul .selected {
  background-color: rgba(155, 228, 175, 0.42);
}

.btn-lookup {
  height: 25px;
  display: inline-block;
  border-radius: 5px;
  color: white;
  padding: 0 12px;
  background-color: #00b697;
  border: 1px solid #7d7d7d;
}

.btn-show-provider {
  float: right;
  height: 25px;
  line-height: 0.25;
  position: absolute;
  right: 100px;
}

.service-link {
  cursor: pointer;
}

.stream-service-link {
  right: 70px;
  position: absolute;
}

.generator-label {
  width: 100%;
  margin-left: 0 !important;
}

.generator-fieldset label {
  margin-left: 10%;
}

.generator-fieldset input,
.generator-fieldset select {
  width: 60% !important;
}

.generator-fieldset label,
.generator-fieldset input,
.generator-fieldset select {
  margin-top: 10px;
}

.main-alerts {
  margin-top: 70px;
  margin-bottom: -40px;
}

.main-alerts .custom-alert div {
  margin-bottom: 0 !important;
}

.stream-name {
  width: 30%;
  display: inline-block;
}

.stream-description {
  width: 40%;
  display: inline-block;
}
