<div class="row">
  <!-- Content -->
  <div class="col col-xs-8">
    <div class="card">
      <div class="card-block">
        <!-- Card title -->
        <div class="row">
          <div class="col col-xs-6"><h4 class="card-title">Streams list</h4></div>
          <div class="col col-xs-6">
            <button type="button"
                    class="btn btn-primary pull-right ml-1 mb-1"
                    (click)="CreateStream.show()"><i class="fa fa-plus mr-1"></i>Create Stream
            </button>

            <sj-search-box class="pull-right"
                           (update)="term = $event"></sj-search-box>
          </div>
        </div>

        <!-- Alerts -->
        <div class="main-alerts mt-1">
          <alert class="custom-alert"
                 *ngFor="let alert of alerts; let i = index"
                 [type]="alert.type"
                 dismissible="true"
                 [dismissOnTimeout]="alert.timeout"
                 (close)="closeAlert(i)">
            {{ alert.msg }}
          </alert>
        </div>

        <!-- Steams list -->
        <div class="table-wrapper">
          <table class="table table-hover table-sm mt-1 mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Service</th>
                <th class="actions-column">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!streamList || (streamList && streamList.length === 0)">
                <td colspan="20" class="text-center">No streams have been found.</td>
              </tr>

              <tr *ngFor="let stream of streamList | orderBy: 'name' | listFilter : term"
                  [ngClass]="{ 'table-info': isSelected(stream) }"
                  (click)="stream_select(stream)">
                <td>{{ stream.name }}</td>
                <td>{{ stream.description }}</td>
                <td>
                <span class="stream-action-link">
                  Service:
                  <span class="btn-lookup action-link"
                        (click)="get_service_info(ServiceInfo, stream.service)">{{ stream.service }}</span>
                </span>
                </td>
                <td class="actions-column">
                  <button type="button"
                          class="btn btn-sm btn-secondary"
                          title="Delete stream"
                          (click)="delete_stream_confirm(DeleteStream, stream)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailed info -->
  <div class="col col-xs-4">
    <div class="card">
      <div class="card-header">Detailed information about node</div>
      <div class="card-block">
        <div class="overflow-x-scroll">
          <ul *ngIf="current_stream">
            <li>Name: {{current_stream.name}}</li>
            <li>Type: {{current_stream.type}}</li>
            <li>Description: {{current_stream.description}}</li>
            <li>Partitions: {{current_stream.partitions}}</li>
            <li>Tags: {{current_stream.tags}}</li>
            <li>Service: <span class="btn-lookup action-link" (click)="get_service_info(ServiceInfo, current_stream.service)">{{ current_stream.service }}</span>
            </li>
            <li *ngIf="current_stream.type == 'Tstream'">Generator:
              <ul>
                <li>Type: {{current_stream.generator.type}}</li>
                <li>Service: {{current_stream.generator.service}}</li>
                <li>Instance count: {{current_stream.generator.instanceCount}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #CreateStream="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="CreateStream.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create Stream</h4>
      </div>

      <div class="modal-body">
        <form #streamForm="ngForm" (ngSubmit)="createStream(CreateStream)" class="form-create-entity">
          <!-- Type -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Choose type</label>
            <div class="col-sm-10">
              <select [(ngModel)]="new_stream['stream-type']" name="streamType"
                      required class="form-control">
                <option selected value="stream.t-stream">T-stream</option>
                <!-- TODO Change values to match values in rest service-->
                <option value="stream.kafka">Kafka</option>
                <option value="elasticsearch-output">ElasticSearch output</option>
              </select>
            </div>
          </fieldset>

          <!-- Name -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Name</label>
            <div class="col-sm-10">
              <input [(ngModel)]="new_stream.name" name="streamName" type="text"
                     required class="form-control" pattern="[a-zA-z][a-zA-Z0-9]*">
            </div>
          </fieldset>

          <!-- Description -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea [(ngModel)]="new_stream.description"
                        name="streamDescription"
                        class="form-control"></textarea>
            </div>
          </fieldset>

          <!-- Partitions -->
          <fieldset *ngIf="new_stream['stream-type'] != 'elasticsearch-output'" class="form-group row">
            <label class="col-sm-2 col-form-label required">Partitions</label>
            <div class="col-sm-10">
              <input [(ngModel)]="new_stream.partitions" name="streamPartitions" type="number"
                     required class="form-control">
            </div>
          </fieldset>

          <!-- Service  -->
          <fieldset *ngIf="new_stream['stream-type']" class="form-group row">
            <label class="col-sm-2 col-form-label required">Service</label>
            <div class="col-sm-10">
              <select [(ngModel)]="new_stream.service" name="streamService"
                      required class="form-control">
                <option *ngFor="let service of serviceList | serviceFilter : new_stream['stream-type'] "
                        value={{service.name}}>{{service.name}}
                </option>
              </select>
            </div>
          </fieldset>

          <!-- Replication factor -->
          <fieldset *ngIf="new_stream['stream-type'] == 'stream.kafka'" class="form-group row">
            <label class="col-sm-2 col-form-label required">Replication factor</label>
            <div class="col-sm-10">
              <input [(ngModel)]="new_stream['replication-factor']" name="streamReplicationFactor" type="text"
                     required class="form-control">
            </div>
          </fieldset>

          <!--<fieldset class="form-group">-->
          <!--<label class="col-sm-2 col-form-label">Tags</label>-->
          <!--<tag-input-->
          <!--placeholder="Add a tag"-->
          <!--[(ngModel)]="new_stream.tags" name="streamTags"-->
          <!--delimiterCode="188">-->
          <!--</tag-input>-->
          <!--</fieldset>-->

          <!-- Generator -->
          <template [ngIf]="new_stream['stream-type'] == 'stream.t-stream'">
            <div class="mb-1">
              <b>Generator:</b>
            </div>

            <!-- Type -->
            <fieldset class="form-group row">
              <label class="col-sm-2 col-form-label required">Type</label>
              <div class="col-sm-10">
                <select [(ngModel)]="new_stream['generator']['generator-type']" name="streamGeneratorType"
                        required class="form-control">
                  <option value="global">Global</option>
                  <option value="local">Local</option>
                  <option value="per-stream">Per-stream</option>
                </select>
              </div>
            </fieldset>

            <!-- Service -->
            <fieldset class="form-group row">
              <label class="col-sm-2 col-form-label">Service</label>
              <div class="col-sm-10">
                <input [(ngModel)]="new_stream['generator'].service" name="streamGeneratorService" type="text"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Instance count -->
            <fieldset class="form-group row">
              <label class="col-sm-2 col-form-label required">Instance count</label>
              <div class="col-sm-10">
                <input [(ngModel)]="new_stream['generator']['instance-count']" name="streamGeneratorInstanceCount"
                       type="number" required class="form-control">
              </div>
            </fieldset>
          </template>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="CreateStream.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary"
                [disabled]="!streamForm.form.valid"
                (click)="createStream(CreateStream)">Create
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #ServiceInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="ServiceInfo.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Service info</h4>
      </div>
      <div class="modal-body">
        <ul *ngIf="current_stream_service">
          <li>Name: {{current_stream_service.name}}</li>
          <li>Type: {{current_stream_service.type}}</li>
          <li>Description: {{current_stream_service.description}}</li>
          <li *ngIf="current_stream_service.type == 'CassDB'">Keyspace: {{current_stream_service.keyspace}}</li>
          <li *ngIf="current_stream_service.type == 'ESInd'">Index: {{current_stream_service.index}}</li>
          <li *ngIf="current_stream_service.type == 'TstrQ' || current_stream_service.type == 'ZKCoord'
              || current_stream_service.type == 'RdsCoord' || current_stream_service.type == 'ArspkDB'">
            Namespace: {{current_stream_service.namespace}}
          </li>
          <li *ngIf="current_stream_service.type != 'TstrQ'">Provider: {{ current_stream_service.provider }}</li>
          <li *ngIf="current_stream_service.type == 'TstrQ'">Metadata provider:
            {{current_stream_service['metadata-provider']}}
          </li>
          <li *ngIf="current_stream_service.type == 'TstrQ'">Metadata namespace:
            {{current_stream_service['metadata-namespace']}}
          </li>
          <li *ngIf="current_stream_service.type == 'TstrQ'">Data provider:
            {{current_stream_service['data-provider']}}
          </li>
          <li *ngIf="current_stream_service.type == 'TstrQ'">Data namespace:
            {{current_stream_service['data-namespace']}}
          </li>
          <li *ngIf="current_stream_service.type == 'TstrQ'">Lock provider:
            {{current_stream_service['lock-provider']}}
          </li>
          <li *ngIf="current_stream_service.type == 'TstrQ'">Lock namespace:
            {{current_stream_service['lock-namespace']}}
          </li>
        </ul>
        <fieldset class="form-actions">
        </fieldset>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="ServiceInfo.hide()">OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #DeleteStream="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteStream.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" *ngIf="stream_to_delete">
        <p>Do you really want to delete stream "{{ stream_to_delete.name }}"? This action can not be undone!</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="DeleteStream.hide()">Cancel</button>
        <button type="button" class="btn btn-danger"
                (click)="delete_stream(DeleteStream, stream_to_delete)">Delete
        </button>
      </div>
    </div>
  </div>
</div>
