<sj-spinner [isRunning]="showSpinner"></sj-spinner>

<div class="row">
  <!-- Content -->
  <div class="col col-xs-8">
    <div class="card">
      <div class="card-block">
        <!-- Card title -->
        <div class="row">
          <div class="col col-xs-4"><h4 class="card-title">Streams list</h4></div>
          <div class="col col-xs-8">
            <button type="button"
                    class="btn btn-primary pull-right ml-1 mb-1"
                    (click)="CreateStream.show()"><i class="fa fa-plus mr-1"></i>Create Stream
            </button>

            <sj-search-box class="pull-right"
                           (update)="term = $event"></sj-search-box>
            <sj-filter class="pull-right" [filterList]="streamTypes"
                       (update)="typeterm = $event"></sj-filter>
          </div>
        </div>

        <!-- Alerts -->
        <div class="main-alerts mt-1">
          <alert class="custom-alert"
                 *ngFor="let alert of alerts; let i = index"
                 [type]="alert.type"
                 dismissible="true"
                 [dismissOnTimeout]="alert.timeout"
                 (close)="closeAlert(i)">
            {{ alert.msg }}
          </alert>
        </div>

        <!-- Steams list -->
        <div class="table-wrapper">
          <table class="table table-hover table-sm mt-1 mb-0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Service</th>
              <th class="actions-column">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!streamList || (streamList && streamList.length === 0)">
              <td colspan="20" class="text-center">No streams have been found.</td>
            </tr>

              <tr *ngFor="let stream of streamList | orderBy: 'name' | listFilter : {name: term, type: typeterm}"
                  [ngClass]="{ 'table-info': isSelected(stream) }"
                  (click)="selectStream(stream)">
                <td>{{ stream.name }}</td>
                <td>{{ stream.description }}</td>
                <td>
                <span class="stream-action-link">
                  Service:
                  <span class="btn-lookup action-link"
                        (click)="getServiceInfo(ServiceInfo, stream.service)">{{ stream.service }}</span>
                </span>
                </td>
                <td class="actions-column">
                  <button type="button"
                          class="btn btn-sm btn-secondary"
                          title="Delete stream"
                          (click)="deleteStreamConfirm(DeleteStream, stream)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailed info -->
  <div class="col col-xs-4">
    <div class="card">
      <div class="card-header">Detailed information about node</div>
      <div class="card-block">
        <div class="overflow-x-scroll">
          <ul *ngIf="currentStream">
            <li>Name: {{currentStream.name}}</li>
            <li>Type: {{currentStream['stream-type']}}</li>
            <li>Description: {{currentStream.description}}</li>
            <li *ngIf="currentStream['stream-type'] !== 'elasticsearch-output'">Partitions: {{currentStream.partitions}}</li>
            <li>Tags: {{currentStream.tags}}</li>
            <li>Service: <span class="btn-lookup action-link" (click)="getServiceInfo(ServiceInfo, currentStream.service)">{{ currentStream.service }}</span>
            </li>
            <li *ngIf="currentStream['stream-type'] === 'stream.t-stream'">Generator:
              <ul>
                <li>Type: {{currentStream.generator['generator-type']}}</li>
                <li>Service: {{currentStream.generator['service']}}</li>
                <li>Instance count: {{currentStream.generator['instance-count']}}</li>
              </ul>
            </li>
            <li *ngIf="currentStream['replication-factor']">Replication factor: {{currentStream['replication-factor']}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #CreateStream="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="CreateStream.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create Stream</h4>
      </div>

      <div class="modal-body">
        <form #streamForm="ngForm" (ngSubmit)="createStream(CreateStream)" class="form-create-entity">
          <!-- Type -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Choose type</label>
            <div class="col-sm-10">
              <select [(ngModel)]="newStream['stream-type']" name="streamType"
                      required class="form-control">
                <option *ngFor="let type of streamTypes" value="{{type}}">{{type}}</option>
              </select>
            </div>
          </fieldset>

          <!-- Name -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Name</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newStream.name" name="streamName" type="text"
                     required class="form-control" pattern="[a-zA-z][a-zA-Z0-9-]*">
            </div>
          </fieldset>

          <!-- Description -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea [(ngModel)]="newStream.description"
                        name="streamDescription"
                        class="form-control"></textarea>
            </div>
          </fieldset>

          <!-- Partitions -->
          <fieldset *ngIf="newStream['stream-type'] !== 'elasticsearch-output'" class="form-group row">
            <label class="col-sm-2 col-form-label required">Partitions</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newStream.partitions" name="streamPartitions" type="number" min="1"
                     required class="form-control">
            </div>
          </fieldset>

          <!-- Service  -->
          <fieldset *ngIf="newStream['stream-type']" class="form-group row">
            <label class="col-sm-2 col-form-label required">Service</label>
            <div class="col-sm-10">
              <select [(ngModel)]="newStream.service" name="streamService"
                      required class="form-control">
                <option *ngFor="let service of serviceList | serviceFilter : newStream['stream-type'] "
                        value={{service.name}}>{{service.name}}
                </option>
              </select>
            </div>
          </fieldset>

          <!-- Replication factor -->
          <fieldset *ngIf="newStream['stream-type'] === 'stream.kafka'" class="form-group row">
            <label class="col-sm-2 col-form-label required">Replication factor</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newStream['replication-factor']" name="streamReplicationFactor" type="number"
                     required class="form-control">
            </div>
          </fieldset>

          <!--Primary -->
          <fieldset *ngIf="newStream['stream-type'] === 'jdbc-output'" class="form-group row">
            <label class="col-sm-2 col-form-label">Primary</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newStream['primary']" name="streamPrimary" type="text"
                     class="form-control">
            </div>
          </fieldset>

          <!-- Force -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label">Force</label>
            <div class="col-sm-10">
              <select [(ngModel)]="newStream.force" name="streamForce"
                      class="form-control">
                <option>false</option>
                <option>true</option>
              </select>
            </div>
          </fieldset>

          <!-- Tags -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label">Tags</label>
            <div class="col-sm-10">
              <ul class="tags" (click)="focus()">
                <li class="tag" *ngFor="let tag of newStream.tags">{{tag}}</li>
                <li class="tag nopadding">
                  <input id="tagInput" class="form-control"
                    name="streamTags"
                         [(ngModel)]="currentTag"
                         #streamtags = "ngModel"
                         (keyup)="keyUp($event)"
                         (blur)="blur()" />
                </li>
              </ul>
              </div>
          </fieldset>

          <!-- Generator -->
          <template [ngIf]="newStream['stream-type'] === 'stream.t-stream'">
            <div class="mb-1">
              <b>Generator:</b>
            </div>

            <!-- Type -->
            <fieldset class="form-group row">
              <label class="col-sm-2 col-form-label required">Type</label>
              <div class="col-sm-10">
                <select [(ngModel)]="newStream['generator']['generator-type']" name="streamGeneratorType"
                        #streamGeneratorType = "ngModel"
                        required class="form-control">
                  <option value="global">Global</option>
                  <option value="local">Local</option>
                  <option value="per-stream">Per-stream</option>
                </select>
              </div>
            </fieldset>

            <!-- Service -->
            <fieldset class="form-group row">
              <label class="col-sm-2 col-form-label" [class.required]="streamGeneratorType.value!=='local'">Service</label>
              <div class="col-sm-10">
                <select [(ngModel)]="newStream['generator'].service" name="streamGeneratorService"
                        class="form-control"
                        [required]="streamGeneratorType.value!=='local'">
                  <option *ngFor="let service of serviceList | serviceFilter : 'zookeeper' "
                          value={{service.name}}>{{service.name}}
                  </option>
                </select>
              </div>
            </fieldset>

            <!-- Instance count -->
            <fieldset class="form-group row">
              <label class="col-sm-2 col-form-label" [class.required]="streamGeneratorType.value!=='local'">Instance count</label>
              <div class="col-sm-10">
                <input [(ngModel)]="newStream['generator']['instance-count']" name="streamGeneratorInstanceCount"
                       type="number" class="form-control"
                       [required]="streamGeneratorType.value!=='local'">
              </div>
            </fieldset>
          </template>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="CreateStream.hide()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!streamForm.form.valid">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #ServiceInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="ServiceInfo.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Service info</h4>
      </div>
      <div class="modal-body">
        <ul *ngIf="currentStreamService">
          <li>Name: {{currentStreamService.name}}</li>
          <li>Type: {{currentStreamService.type}}</li>
          <li>Description: {{currentStreamService.description}}</li>
          <li *ngIf="currentStreamService.type == 'CassDB'">Keyspace: {{currentStreamService.keyspace}}</li>
          <li *ngIf="currentStreamService.type == 'ESInd'">Index: {{currentStreamService.index}}</li>
          <li *ngIf="currentStreamService.type == 'TstrQ' || currentStreamService.type == 'ZKCoord'
              || currentStreamService.type == 'RdsCoord' || currentStreamService.type == 'ArspkDB'">
            Namespace: {{currentStreamService.namespace}}
          </li>
          <li *ngIf="currentStreamService.type != 'TstrQ'">Provider: {{ currentStreamService.provider }}</li>
          <li *ngIf="currentStreamService.type == 'TstrQ'">Metadata provider:
            {{currentStreamService['metadata-provider']}}
          </li>
          <li *ngIf="currentStreamService.type == 'TstrQ'">Metadata namespace:
            {{currentStreamService['metadata-namespace']}}
          </li>
          <li *ngIf="currentStreamService.type == 'TstrQ'">Data provider:
            {{currentStreamService['data-provider']}}
          </li>
          <li *ngIf="currentStreamService.type == 'TstrQ'">Data namespace:
            {{currentStreamService['data-namespace']}}
          </li>
          <li *ngIf="currentStreamService.type == 'TstrQ'">Lock provider:
            {{currentStreamService['lock-provider']}}
          </li>
          <li *ngIf="currentStreamService.type == 'TstrQ'">Lock namespace:
            {{currentStreamService['lock-namespace']}}
          </li>
        </ul>
        <fieldset class="form-actions">
        </fieldset>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="ServiceInfo.hide()">OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #DeleteStream="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteStream.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" *ngIf="currentStream && (blockingInstances.length === 0)">
        <p>Do you really want to delete stream "{{ currentStream.name }}"? This action can not be undone!</p>
      </div>

      <div class="modal-body" *ngIf="currentStream && (blockingInstances.length > 0)">
        <p>Unable to delete stream! Next instances using stream "{{ currentStream.name }}"</p>
        <ul>
          <li *ngFor="let instance of blockingInstances">{{instance}}</li>
        </ul>
      </div>

      <div class="modal-footer">
        <template [ngIf]="currentStream && (blockingInstances.length === 0)">
          <button type="button" class="btn btn-secondary" (click)="DeleteStream.hide()">Cancel</button>
          <button type="button" class="btn btn-danger"
                  (click)="DeleteStream(DeleteStream)">Delete
          </button>
        </template>
        <template [ngIf]="currentStream && (blockingInstances.length > 0)">
          <button type="button" class="btn btn-primary" (click)="DeleteStream.hide()">Ok</button>
        </template>
      </div>
    </div>
  </div>
</div>
