<sj-spinner [isRunning]="showSpinner"></sj-spinner>

<div class="row">
  <!-- Content -->
  <div class="col col-xs-8">
    <div class="card">
      <div class="card-block">
        <!-- Card title -->
        <div class="row">
          <div class="col col-xs-4"><h4 class="card-title">Providers list</h4></div>
          <div class="col col-xs-8">
            <button type="button"
                    class="btn btn-primary pull-right ml-1 mb-1"
                    (click)="CreateProvider.show()"><i class="fa fa-plus mr-1"></i>Create Provider
            </button>

            <sj-search-box class="pull-right"
                           (update)="nameterm = $event"></sj-search-box>

            <sj-filter class="pull-right" [filterList]="providerTypes"
                       (update)="typeterm = $event"></sj-filter>

          </div>
        </div>

        <!-- Alerts -->
        <sj-alerts [alerts]="alerts"></sj-alerts>

        <!-- Providers list -->
        <div class="table-wrapper">
          <table class="table table-hover table-sm mt-1 mb-0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Date</th>
              <th class="actions-column">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!providerList || (providerList && providerList.length === 0)">
              <td colspan="20" class="text-center">No providers have been found.</td>
            </tr>

            <tr *ngFor="let provider of providerList | listFilter : {name : nameterm, type: typeterm} "
                [ngClass]="{ 'table-info': provider === currentProvider }"
                (click)="selectProvider(provider)">
              <td>{{ provider.name }}</td>
              <td>{{ provider.description }}</td>
              <td>{{ provider.creationDate }}</td>
              <td class="actions-column">
                <button type="button"
                        class="btn btn-sm btn-secondary"
                        title="Delete provider"
                        (click)="deleteProviderConfirm(DeleteProvider, provider)">
                  <i class="fa fa-trash"></i>
                </button>
                <button type="button"
                        class="btn btn-sm btn-secondary"
                        title="Test connection"
                        (click)="testConnection(provider)">
                  <i class="fa fa-refresh"
                     [ngClass]="{ 'fa-spin': currentConnectors.indexOf(provider.name) >= 0 }"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailed info -->
  <div class="col col-xs-4">
    <div class="card">
      <div class="card-header">Provider details</div>
      <div class="card-block">
        <div class="overflow-x-scroll">
          <ul *ngIf="currentProvider">
            <li><span class="title">Name:</span>{{currentProvider.name}}</li>
            <li><span class="title">Type:</span>{{currentProvider.type}}</li>
            <li><span class="title">Description:</span>{{currentProvider.description}}</li>
            <li><span class="title">Hosts:</span>
              <ul>
                <li *ngFor="let host of currentProvider.hosts">{{host}}</li>
              </ul>
            </li>
            <li *ngIf="currentProvider.login"><span class="title">Login:</span>{{currentProvider.login}}</li>
            <li *ngIf="currentProvider.password"><span class="title">Password:</span>{{currentProvider.password}}</li>
            <li *ngIf="currentProvider.type === 'provider.sql-database'"><span class="title">Driver:</span>{{currentProvider.driver}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #CreateProvider="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="CreateProvider.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create Provider</h4>
        <sj-alerts [alerts]="formAlerts"></sj-alerts>
      </div>

      <div class="modal-body">
        <form #providerForm="ngForm"
              (ngSubmit)="createProvider(CreateProvider)">

          <!-- Type -->
          <fieldset class="form-group row">
            <label class="col-form-label col-sm-2 required">Type</label>
            <div class="col-sm-10">
              <select class="form-control"
                      [(ngModel)]="newProvider.type"
                      name="providerType"
                      required>
                <option *ngFor="let type of providerTypes" value="{{type.id}}">{{type.name}}</option>
              </select>
            </div>
          </fieldset>

          <!-- Name -->
          <fieldset class="form-group row">
            <label class="col-form-label col-sm-2 required">Name</label>
            <div class="col-sm-10">
              <input required [(ngModel)]="newProvider.name" name="providerName" type="text"
                     class="form-control" pattern="[a-zA-z][a-zA-Z0-9-]*" placeholder="Enter provider name">
            </div>
          </fieldset>

          <!-- Description -->
          <fieldset class="form-group row">
            <label class="col-form-label col-sm-2">Description</label>
            <div class="col-sm-10">
              <textarea [(ngModel)]="newProvider.description" name="providerDescription"
                        class="form-control" placeholder="Enter provider description"></textarea>
            </div>
          </fieldset>


          <!-- Hosts -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Hosts</label>
            <div class="col-sm-10">
              <div *ngFor="let host of newProvider.hosts; let i = index; trackBy:customTrackBy"
                   class="input-group mb-1">
                <input required
                       pattern="^((0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5])\.){3}0*([1-9]?\d|1\d\d|2[0-4]\d|25[0-5]):(\d+)|([\da-z\.-]+)\.([a-z\.]{2,6}):(\d+))([\/\w \.-]*)*\/?$"
                       [(ngModel)]="newProvider.hosts[i]"  name="providerHosts{{i}}"
                       type="text" class="form-control " placeholder="IPv4:port or domain:port">
                <span class="input-group-btn" *ngIf="i!==0">
                  <button type="button"
                          class="btn btn-secondary"
                          (click)="deleteHost(i)">
                    <i class="fa fa-remove"></i>
                  </button>
                </span>
              </div>
              <button type="button" (click)="addHost()" class="btn btn-sm btn-secondary">+ Add Host</button>
            </div>
          </fieldset>

          <!-- Login -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newProvider.login" name="providerLogin" type="text" class="form-control"
                     placeholder="Enter provider login">
            </div>
          </fieldset>

          <!-- Password -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newProvider.password" name="providerPassword" type="text"
                     class="form-control" placeholder="Enter provider password">
            </div>
          </fieldset>

          <!-- Driver -->
          <fieldset class="form-group row" *ngIf="newProvider.type === 'provider.sql-database'">
            <label class="col-sm-2 col-form-label required">Driver</label>
            <div class="col-sm-10">
              <input required [(ngModel)]="newProvider.driver" name="providerDriver" type="text"
                     class="form-control" placeholder="Enter provider driver">
            </div>
          </fieldset>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal(CreateProvider)">Cancel</button>
        <button [disabled]="!providerForm.form.valid" type="submit" class="btn btn-primary"
                (click)="createProvider(CreateProvider)">Create
        </button>
      </div>
    </div>
  </div>
</div>


<div bsModal #DeleteProvider="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteProvider.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" *ngIf="currentProvider && (blockingServices.length === 0)">
        <p>Do you really want to delete provider "{{ currentProvider.name }}" ? This action can not be undone!</p>
      </div>

      <div class="modal-body" *ngIf="currentProvider && (blockingServices.length > 0)">
        <p>Unable to delete provider! Next services using provider "{{ currentProvider.name }}"</p>
        <ul>
          <li *ngFor="let service of blockingServices">{{service}}</li>
        </ul>
      </div>

      <div class="modal-footer">
        <ng-template [ngIf]="currentProvider && (blockingServices.length === 0)">
          <button type="button" class="btn btn-secondary" (click)="DeleteProvider.hide()">Cancel</button>
          <button type="button" class="btn btn-danger"
                  (click)="deleteProvider(DeleteProvider)">Delete
          </button>
        </ng-template>

        <ng-template [ngIf]="currentProvider && (blockingServices.length > 0)">
          <button type="button" class="btn btn-primary" (click)="DeleteProvider.hide()">OK</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
