:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

.modules-list {
  width: 75%;
  display: inline-block;
  margin-top: 30px;
}

.modules-list ul {
  list-style-type: none;
  padding: 0 0 0 8px;
  padding-top: 60px;
}

.modules-list ul li {
  cursor: pointer;
}

.modules-list ul li:hover {
  cursor: pointer;
  background-color: rgba(155, 228, 175, 0.1);
}

.modules-list ul > li:nth-of-type(1):hover {
  cursor: default !important;
  background-color: white !important;
}

.module-name,
.module-type,
.module-filename {
  width: 25%;
  display: inline-block;
}

.module-version {
  width: 10%;
  display: inline-block;
}

h2 {
  text-align: center;
}

.create-provider {
  float: right;
  color: white;
}

.right-inner-addon {
  position: relative;
  float: right;
  margin-right: 15px;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0;
  padding: 10px 12px;
  pointer-events: none;
}

.kafkaStyle {
  width: 50% !important;
}

.kafka-zk-prefix {
  width: 20% !important;
}

.provider-host .kafka-zk-prefix {
  margin-top: 5px;
}

.provider-host:nth-of-type(1) .kafka-zk-prefix {
  margin-top: 0;
}

.provider-host.kafkaStyle input {
  margin-left: 25%;
  margin-top: 5px;
}

.provider-host:nth-of-type(1) input {
  margin-left: 0;
  margin-top: 0;
}

.detail-info {
  margin-right: 10px;
}

.form-type,
.form-desc {
  width: 70% !important;
}

.form-add-host {
  margin-left: 25%;
  margin-top: 5px;
  width: 50px;
  padding: 0;
  color: #07c;
}

.form-submit {
  width: 35%;
}

.form-actions {
  text-align: right;
  margin-right: 5%;
}

.form-create-provider .form-control {
  width: 70%;
}

.form-create-provider label.required:after {
  content: ' *';
  color: #ff706f;
}

.modal-title {
  text-align: center !important;
}

.modules-list ul .selected,
.modules-list ul .selected:hover {
  background-color: rgba(155, 228, 175, 0.42);
}

.right-detail {
  display: block;
  float: right;
  padding: 0 16px;
  height: 100%;
  width: 24%;
  border-left: 2px solid #ececec;
  top: 0;
  z-index: -1;
}

.right-detail p {
  text-align: center;
}

.provider-host input:nth-of-type(1) {
  margin-left: 25% !important;
  margin-top: 5px !important;
}

.provider-host:nth-of-type(1) input:nth-of-type(1) {
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.main-alerts {
  margin-top: 70px;
  margin-bottom: -40px;
}

.main-alerts .custom-alert div {
  margin-bottom: 0 !important;
}

.upload-module {
  background-color: rgb(16, 108, 200);
  width: 170px;
  height: 40px;
  border-radius: 5px;
  color: white;
  padding: 10px 16px 8px;
  float: right;
  font-size: 16px;
  font-weight: normal;
}

.upload-module.inProgress {
  pointer-events: none;
}

.upload-module input {
  display: none;
}

.upload-progress {
  float: right;
  margin-left: 10px;
  margin-top: 8px;
}
