<sj-spinner [isRunning]="showSpinner"></sj-spinner>

<div class="row">
  <!-- Content -->
  <div class="col col-xs-8">
    <div class="card">
      <div class="card-block">
        <!-- Card title -->
        <div class="row">
          <div class="col col-xs-6"><h4 class="card-title">Modules list</h4></div>
          <div class="col col-xs-6">
            <label [ngClass]="{inProgress:isUploading}" class="btn btn-primary btn-upload pull-right ml-1 mb-1">
              <div *ngIf="!isUploading"><i class="fa fa-upload mr-1"></i>Upload module</div>
              <i *ngIf="isUploading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              <input type="file" (change)="clearAlert();uploadFile($event)">
            </label>

            <sj-search-box class="pull-right"
                           (update)="term = $event"></sj-search-box>
          </div>
        </div>

        <!-- Alerts -->
        <div class="main-alerts mt-1">
          <alert class="custom-alert"
                 *ngFor="let alert of alerts; let i = index"
                 [type]="alert.type"
                 dismissible="true"
                 [dismissOnTimeout]="alert.timeout"
                 (close)="closeAlert(i)">
            {{ alert.msg }}
          </alert>
        </div>

        <!-- Modules list -->
        <div class="table-wrapper">
          <table class="table table-hover table-sm mt-1 mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Version</th>
                <th class="actions-column">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!moduleList || (moduleList && moduleList.length === 0)">
                <td colspan="20" class="text-center">No modules have been found.</td>
              </tr>

              <tr *ngFor="let module of moduleList | orderBy: 'module-name' | listFilter : term"
                  [ngClass]="{ 'table-info': isSelected(module) }"
                  (click)="selectModule(module)">
                <td>{{ module["module-name"] }}</td>
                <td>{{ module["module-type"] }}</td>
                <td>{{ module["module-version"] }}</td>
                <td class="actions-column">
                  <button type="button"
                          class="btn btn-sm btn-secondary"
                          title="Download module"
                          (click)="downloadModule(module)">
                    <i class="fa fa-download"></i>
                  </button>
                  <button type="button"
                          class="btn btn-sm btn-secondary"
                          title="Delete module"
                          (click)="deleteModuleConfirm(DeleteModule, module)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailed info -->
  <div class="col col-xs-4">
    <div class="card">
      <div class="card-header">Detailed information about node</div>
      <div class="card-block">
        <div class="overflow-x-scroll">
          <ul *ngIf="currentModuleSpecification">
            <li>Name: {{currentModuleSpecification.name}}</li>
            <li>Description: {{currentModuleSpecification.description}}</li>
            <li>Version: {{currentModuleSpecification.version}}</li>
            <li>Author: {{currentModuleSpecification.author}}</li>
            <li>Licence: {{currentModuleSpecification.license}}</li>
            <li>Inputs:
              <ul>
                <li>Cardinality:
                  <ul>
                    <li *ngFor="let parameter of currentModuleSpecification['inputs']['cardinality']">{{parameter}}</li>
                  </ul>
                </li>
                <li>Types:
                  <ul>
                    <li *ngFor="let type of currentModuleSpecification['inputs']['types']">{{type}}</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Outputs:
              <ul>
                <li>Cardinality:
                  <ul>
                    <li *ngFor="let parameter of currentModuleSpecification['outputs']['cardinality']">{{parameter}}</li>
                  </ul>
                </li>
                <li>Types:
                  <ul>
                    <li *ngFor="let type of currentModuleSpecification['outputs']['cardinality']">{{type}}</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Module-type: {{currentModuleSpecification["module-type"]}}</li>
            <li>Engine: {{currentModuleSpecification.engine}}</li>
            <li>Options : {{currentModuleSpecification.options | json}}</li>
            <li>Validator-class: {{currentModuleSpecification["validator-class"]}}</li>
            <li>Executor-class: {{currentModuleSpecification["executor-class"]}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #DeleteModule="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteModule.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" *ngIf="currentModule && (blockingInstances.length === 0)">
        <p>Do you really want to delete module "{{ currentModule["module-name"] }}"? This action can not be
          undone!</p>
      </div>

      <div class="modal-body" *ngIf="currentModule && (blockingInstances.length > 0)">
        <p>Unable to delete module! Following instances are using the module: "{{ currentModule['module-name'] }}"</p>
        <ul>
          <li *ngFor="let instance of blockingInstances | orderBy: 'name' ">{{instance.name}}</li>
        </ul>
      </div>

      <div class="modal-footer">
        <template [ngIf]="currentModule && (blockingInstances.length === 0)">
          <button type="button" class="btn btn-secondary" (click)="DeleteModule.hide()">Cancel</button>
          <button type="button" class="btn btn-danger"
                  (click)="deleteModule(DeleteModule)">Delete
          </button>
        </template>
        <template [ngIf]="currentModule && (blockingInstances.length > 0)">
          <button type="button" class="btn btn-primary" (click)="DeleteModule.hide()">OK</button>
        </template>
      </div>
    </div>
  </div>
</div>
