<sj-spinner [isRunning]="showSpinner"></sj-spinner>

<!-- Content -->
<div class="col col-xs-12">
  <div class="card">
    <div class="card-block">
      <!-- Title -->
      <div class="row">
        <div class="col col-xs-4"><h4 class="card-title">Config Settings</h4></div>
        <div class="col col-xs-8">
          <button type="button"
                  class="btn btn-primary pull-right ml-1 mb-1"
                  (click)="AddSetting.show()">
            <i class="fa fa-plus mr-1"></i>Add settings
          </button>

          <sj-search-box class="pull-right"
                         (update)="term = $event"></sj-search-box>

          <sj-filter class="pull-right" [filterList]="settingsDomains"
                     (update)="domainterm = $event"></sj-filter>

        </div>
      </div>

      <!-- Alerts -->
      <sj-alerts [alerts]="alerts"></sj-alerts>

      <!-- Settings list -->
      <div class="table-wrapper">
        <table class="table table-hover table-sm mt-1 mb-0">
          <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Config domain</th>
            <th class="actions-column">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!settingsList || (settingsList && settingsList.length === 0)">
            <td colspan="20" class="text-center">No settings have been found.</td>
          </tr>

          <tr *ngFor="let setting of settingsList | orderBy: 'name' | listFilter : {name :term, type: domainterm}"
              [ngClass]="{ 'table-info': setting === currentSetting }"
              (click)="selectSetting(setting)">
            <td>{{ setting.name }}</td>
            <td>{{ setting.value }}</td>
            <td>{{ setting.domain }}</td>
            <td class="actions-column">
              <button type="button"
                      class="btn btn-sm btn-secondary"
                      title="Delete setting"
                      (click)="deleteSettingConfirm(DeleteSetting, setting)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div bsModal #AddSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="AddSetting.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Setting</h4>
      </div>

      <div class="modal-body">
        <form #settingForm="ngForm" (ngSubmit)="createSetting(AddSetting)" class="form-create-entity">

          <!-- name -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Name</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newSetting.name" name="settingName" type="text" class="form-control"
                     required pattern="[a-z\-\.]+">
            </div>
          </fieldset>

          <!-- value -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Value</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newSetting.value" name="settingValue" type="text" class="form-control"
                     required>
            </div>
          </fieldset>

          <!-- domain -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Domain</label>
            <div class="col-sm-10">
              <select required [(ngModel)]="newSetting.domain" name="settingDomain"
                      class="form-control">
                <option *ngFor="let domain of settingsDomains" value="{{domain}}">{{domain}}</option>
              </select>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="AddSetting.hide()">
          Cancel
        </button>
        <button type="button"
                class="btn btn-primary"
                [disabled]="!settingForm.form.valid"
                (click)="createSetting(AddSetting)">
          Create
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #DeleteSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteSetting.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" *ngIf="currentSetting">
        <p>Do you really want to delete setting "{{ currentSetting.name }}" ? This action can not be undone!</p>
      </div>

      <div class="modal-footer">
        <template [ngIf]="currentSetting">
          <button type="button" class="btn btn-secondary" (click)="DeleteSetting.hide()">Cancel</button>
          <button type="button" class="btn btn-danger"
                  (click)="deleteSetting(DeleteSetting)">Delete
          </button>
        </template>
      </div>
    </div>
  </div>
</div>

