<sj-spinner [isRunning]="showSpinner"></sj-spinner>

<div class="row">
  <!-- Content -->
  <div class="col col-xs-8">
    <div class="card">
      <div class="card-block">
        <!-- Card title -->
        <div class="row">
          <div class="col col-xs-6"><h4 class="card-title">Instances list</h4></div>
          <div class="col col-xs-6">
            <button type="button"
                    class="btn btn-primary pull-right ml-1 mb-1"
                    (click)="CreateInstance.show()"><i class="fa fa-plus mr-1"></i>Create Instance
            </button>

            <sj-search-box class="pull-right"
                           (update)="term = $event"></sj-search-box>
          </div>
        </div>

        <!-- Alerts -->
        <div class="main-alerts mt-1">
          <alert class="custom-alert"
                 *ngFor="let alert of alerts; let i = index"
                 [type]="alert.type"
                 dismissible="true"
                 [dismissOnTimeout]="alert.timeout"
                 (close)="closeAlert(i)">
            {{ alert.msg }}
          </alert>
        </div>

        <!-- Instances list -->
        <div class="table-wrapper">
          <table class="table table-hover table-sm mt-1 mb-0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th class="actions-column">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!instancesList || (instancesList && instancesList.length === 0)">
              <td colspan="20" class="text-center">No instances have been found.</td>
            </tr>

            <tr *ngFor="let instance of instancesList | orderBy: 'name' | listFilter : term"
                [ngClass]="{ 'table-info': isSelected(instance) }"
                (click)="selectInstance(instance)">
              <td>{{ instance.name }}</td>
              <td>
                <span class="tag tag-default"
                      [ngClass]="{
                        'tag-default': instance.status === 'stopped',
                        'tag-success': instance.status === 'started',
                        'tag-info': instance.status === 'starting' || instance.status === 'stopping',
                        'tag-danger': instance.status === 'failed',
                        'tag-primary': instance.status === 'ready'
                      }">{{ instance.status }}</span>
              </td>
              <td class="actions-column">
                <i class="fa fa-spinner fa-spin btn btn-sm btn-secondary"
                   *ngIf="instance.status == 'starting' || instance.status == 'stopping' " aria-hidden="true"></i>

                <button type="button"
                        class="btn btn-sm btn-secondary"
                        *ngIf="instance.status == 'stopped' || instance.status == 'failed' || instance.status == 'ready'"
                        title="Start instance"
                        (click)="startInstance(instance)">
                  <i class="fa fa-play"></i>
                </button>

                <button type="button"
                        class="btn btn-sm btn-secondary"
                        *ngIf="instance.status == 'started'"
                        title="Stop instance"
                        (click)="stopInstance(instance)">
                  <i class="fa fa-stop"></i>
                </button>

                <button type="button"
                        class="btn btn-sm btn-secondary"
                        title="Delete instance"
                        (click)="deleteInstanceConfirm(DeleteInstance, instance)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Detailed info -->
  <div class="col col-xs-4">
    <div class="card">
      <div class="card-header">Detailed information about node</div>
      <div class="card-block">
        <div class="overflow-x-scroll">
          <ul *ngIf="currentInstance">
            <li>Stages: {{currentInstance.stages | json}}</li>
            <li>Status: {{currentInstance.status}}</li>
            <li>Name : {{currentInstance.name}}</li>
            <li>Module-type : {{currentInstance.module["module-type"]}}</li>
            <li>Module-name : {{currentInstance.module["module-name"]}}</li>
            <li>Module-version: {{currentInstance.module["module-version"]}}</li>
            <li *ngIf="currentInstance.description">Description : {{currentInstance.description}}</li>
            <li>Engine : {{currentInstance.engine}}</li>
            <li *ngIf="currentInstance.inputs">Inputs: {{currentInstance.inputs}}</li>
            <li *ngIf="currentInstance.outputs">Outputs: {{currentInstance.outputs}}</li>
            <li *ngIf="currentInstance.input">Input: {{currentInstance.input}}</li>
            <li *ngIf="currentInstance.output">Output: {{currentInstance.output}}</li>
            <li>Checkpoint-mode : {{currentInstance["checkpoint-mode"]}}</li>
            <li>Checkpoint-interval : {{currentInstance["checkpoint-interval"]}}</li>
            <li *ngIf="currentInstance['state-manegement']">State-management :
              {{currentInstance["state-management"]}}</li>
            <li *ngIf="currentInstance['duplicate-check']">Duplicate-check :
              {{currentInstance["duplicate-check"]}}</li>
            <li *ngIf="currentInstance['lookup-history']">Lookup-history : {{currentInstance["lookup-history"]}}</li>
            <li *ngIf="currentInstance['queue-max-size']">Queue-max-size : {{currentInstance["queue-max-size"]}}</li>
            <li *ngIf="currentInstance['default-eviction-policy']">Default-eviction-policy :
              {{currentInstance["default-eviction-policy"]}}</li>
            <li *ngIf="currentInstance['eviction-policy']">Eviction-policy :
              {{currentInstance["eviction-policy"]}}</li>
            <li *ngIf="currentInstance['state-full-checkpoint']">State-full-checkpoint :
              {{currentInstance["state-full-checkpoint"]}}</li>
            <li>Parallelism : {{currentInstance.parallelism}}</li>
            <li>Options : {{currentInstance.options | json }}</li>
            <li *ngIf="currentInstance['start-from']">Start-from : {{currentInstance["start-from"]}}</li>
            <li>Per-task-cores : {{currentInstance["per-task-cores"]}}</li>
            <li>Per-task-ram" : {{currentInstance["per-task-ram"]}}</li>
            <li>Coordination-service : {{currentInstance["coordination-service"]}}</li>
            <li *ngIf="currentInstance['event-wait-time']">Event-wait-time :
              {{currentInstance["event-wait-time"]}}</li>
            <li *ngIf="currentInstance['performance-reporting-interval']">Performance-reporting-interval :
              {{currentInstance['performance-reporting-interval']}}</li>
            <li>Jvm-options : {{currentInstance["jvm-options"] | json}}</li>
            <li *ngIf="currentInstance['environment-variables']">Environment variables :
              {{currentInstance["environment-variables"] | json}}</li>
            <li *ngIf="currentInstance['node-attributes']">Node attributes : {{currentInstance['node-attributes'] |
              json}}</li>
            <li *ngIf="currentInstance['backup-count']">Backup-count : {{currentInstance["backup-count"]}}</li>
            <li *ngIf="currentInstance['async-backup-count']">Async-backup-count :
              {{currentInstance["async-backup-count"]}}</li>
            <li>{{currentInstance.module['module-type'] !== 'input-streaming' ? 'Execution-plan:': 'Tasks:'}}
              <ul *ngIf="currentInstance !== 'undefined'">
                <li>{{currentInstanceTasks | json}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #CreateInstance="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="CreateInstance.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create instance</h4>
      </div>

      <div class="modal-body">

        <!-- Clone from existing component -->
        <fieldset class="form-check">
          <label class="form-check-label"><input class="form-check-input" [(ngModel)]="cloneInstance" (click)="clearInstance()" type="checkbox">&nbsp;Clone from
            existing instance</label>
        </fieldset>

        <!-- Create instance form -->
        <form #instanceForm="ngForm" *ngIf="isFormReady" (ngSubmit)="createInstance(CreateInstance)">

          <!-- Choose instnce -->
          <fieldset *ngIf="cloneInstance" class="form-group row">
            <label class="col-form-label col-sm-2 required">Choose instance</label>
            <div class="col col-sm-10">
              <select [(ngModel)]="cloningInstance" name="instanceToClone"
                      (change)="createByClone($event.target.selectedIndex)" required
                      class="form-control">
                <option *ngFor="let instance of cloneInstancesList" [ngValue]="instance">{{instance.name}}</option>
              </select>
            </div>
          </fieldset>

          <!-- Choose module -->
          <fieldset *ngIf="!cloneInstance" class="form-group row">
            <label class="col-form-label col-sm-2 required">Choose module</label>
            <div class="col col-sm-10">
              <select [(ngModel)]="newInstance.module" name="instanceModule" required
                      class="form-control">
                <option *ngFor="let module of modulesList" [ngValue]="module">{{module["module-name"]}}
                  {{module["module-type"]}} {{module["module-version"]}}
                </option>
              </select>
            </div>
          </fieldset>

          <!-- Module -->
          <fieldset *ngIf="cloneInstance && newInstance.module" class="form-group row">
            <label class="col-form-label col-sm-2 required">Module</label>
            <div class="col col-sm-10">
              <select disabled [(ngModel)]="newInstance.module" name="instanceModule" required
                      class="form-control">
                <option [ngValue]="newInstance.module">{{newInstance.module["module-name"]}}
                  {{newInstance.module["module-type"]}} {{newInstance.module["module-version"]}}
                </option>
              </select>
            </div>
          </fieldset>

          <template [ngIf]="newInstance.module">
            <!-- Name -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2 required">Name</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.name" name="instanceName" type="text" required
                       pattern="[a-zA-z][a-zA-Z0-9-]*"  class="form-control">
              </div>
            </fieldset>

            <!-- Description -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Description</label>
              <div class="col col-sm-10">
                <textarea [(ngModel)]="newInstance.description" name="instanceDescription"
                          class="form-control"></textarea>
              </div>
            </fieldset>

            <!-- Inputs -->
            <fieldset class="form-group row"
                      *ngIf="newInstance.module && newInstance.module['module-type'] === 'regular-streaming' && newInstance.inputs">

              <label class="col-form-label col-sm-2 required">Inputs</label>
              <div class="col-sm-10">
                <div *ngFor='let input of newInstance.inputs; let i = index; trackBy:customTrackBy'
                     class="mb-1 row">
                  <div class="col-sm-6">
                    <select [(ngModel)]="newInstance.inputs[i]"
                            (change)="checkTimestampAcceptable()"
                            name="instanceInputs{{i}}" required class="form-control">
                      <option *ngFor="let stream of streamsList">{{stream.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select [(ngModel)]="newInstance['inputs-types'][i]"
                              name="instanceInputType{{i}}" required class="form-control">
                        <option>full</option>
                        <option>split</option>
                      </select>
                      <span class="input-group-btn" *ngIf="i!==0">
                        <button type="button"
                                class="btn btn-secondary"
                                (click)="removeInput(i)">
                          <i class="fa fa-remove"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>

                <button type="button" (click)="addInput()" class="btn btn-sm btn-secondary">+ Add Input</button>
              </div>
            </fieldset>

            <!-- Input -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'output-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Input</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.input" name="instanceInput" required
                        class="form-control">
                  <option *ngFor="let stream of streamsList" value="{{stream.name}}">{{stream.name}}</option>
                </select>
              </div>
            </fieldset>

            <!-- Output -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'output-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Output</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance.output" name="instanceOutput" required
                        class="form-control">
                  <option *ngFor="let stream of streamsList" value="{{stream.name}}">{{stream.name}}</option>
                </select>
              </div>
            </fieldset>

            <!-- Outputs -->
            <fieldset
              *ngIf="newInstance.module['module-type'] !== 'output-streaming'"
              class="form-group row">
              <label class="col-form-label col-sm-2 required">Outputs</label>

              <div class="col col-sm-10">
                <div *ngFor='let output of newInstance.outputs; let i = index;  trackBy:customTrackBy'
                     class="input-group mb-1">
                  <select [(ngModel)]="newInstance.outputs[i]"
                          name="instanceOutputs{{i}}" required class="form-control">
                    <option *ngFor="let stream of streamsList">{{stream.name}}</option>
                  </select>
                  <span class="input-group-btn" *ngIf="i!==0">
                    <button type="button"
                            class="btn btn-secondary"
                            (click)="removeOutput(i)">
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </div>

                <button type="button" (click)="addOutput()" class="btn btn-sm btn-secondary">+ Add Output</button>
              </div>
            </fieldset>

            <!-- Window -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Window</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['window']" name="instanceWindow" type="number" pattern="[1-9][0-9]*" class="form-control">
              </div>
            </fieldset>

            <!-- Sliding-interval -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Sliding interval</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['sliding-interval']" name="instanceSlidingInterval" type="number" pattern="[1-9][0-9]*" class="form-control">
              </div>
            </fieldset>

            <!-- Main-stream -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Main stream</label>
              <div class="col col-sm-10">
                <div class="mb-1 row">
                  <div class="col-sm-6">
                    <select [value]="newInstance['main-stream']" (input)="newInstance['main-stream'] = $event.target.value"
                            name="instanceMainStream" required class="form-control">
                      <option *ngFor="let stream of streamsList">{{stream.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select [value]="newInstance['main-stream-type']" (input)="newInstance['main-stream-type'] = $event.target.value"
                              name="instanceMainStreamType" required class="form-control">
                        <option>full</option>
                        <option>split</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- Related-streams -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'windowed-streaming'"
                      class="form-group row">
              <label class="col-form-label col-sm-2">Related streams</label>

              <div class="col col-sm-10">
                <div *ngFor="let relatedStream of newInstance['related-streams']; let i = index;  trackBy:customTrackBy"
                     class="input-group mb-1">
                  <div class="col-sm-6">
                    <select [value]="newInstance['related-streams'][i]" (input)="newInstance['related-streams'][i] = $event.target.value"
                            name="instanceRelatedStream" class="form-control">
                      <option *ngFor="let stream of streamsList">{{stream.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select [value]="newInstance['related-streams-type'][i]" (input)="newInstance['related-streams-type'][i] = $event.target.value"
                              name="instanceRelatedStreaInputType" class="form-control">
                        <option>full</option>
                        <option>split</option>
                      </select>
                    </div>
                  </div>
                  <span class="input-group-btn">
                    <button type="button"
                            class="btn btn-secondary"
                            (click)="removeRelatedStream(i)">
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </div>

                <button type="button" (click)="addRelatedStream()" class="btn btn-sm btn-secondary">+ Add related stream</button>
              </div>
            </fieldset>

            <!-- Batch-fill-type -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Batch fill type</label>
              <div class="col col-sm-10">
                <div class="mb-1 row">
                  <div class="col-sm-6">
                    <select [value]="newInstance['batch-fill-type-name']" (input)="newInstance['batch-fill-type-name'] = $event.target.value"
                            name="instanceBatchFillTypeName" required class="form-control">
                      <option>every-nth</option>
                      <option>time-interval</option>
                      <option>transaction-interval</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input [(ngModel)]="newInstance['batch-fill-type-value']" name="instanceBatchFillTypeValue" type="number"
                             required class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- Checkpoint mode -->
            <fieldset *ngIf="newInstance.module['module-type'] !== 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Checkpoint mode</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance['checkpoint-mode']" name="instanceCheckpointMode" required
                        class="form-control">
                  <option *ngIf="newInstance.module['module-type'] !== 'output-streaming'">time-interval</option>
                  <option>every-nth</option>
                </select>
              </div>
            </fieldset>

            <!-- Checkpoint interval -->
            <fieldset *ngIf="newInstance.module['module-type'] !== 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Checkpoint interval</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['checkpoint-interval']" name="instanceCheckpointInterval" type="number"
                       required class="form-control">
              </div>
            </fieldset>

            <!-- State management -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'regular-streaming' ||
                              newInstance.module['module-type'] === 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">State management</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance['state-management']" name="instanceStateManagement"
                        class="form-control">
                  <option>none</option>
                  <option>ram</option>
                  <option>rocks</option>
                </select>
              </div>
            </fieldset>

            <!-- State full checkpoint -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'regular-streaming' ||
                              newInstance.module['module-type'] === 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">State full checkpoint</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['state-full-checkpoint']" name="instanceStateFullCheckpoint"
                       type="number" class="form-control">
              </div>
            </fieldset>

            <!-- Parallelism -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Parallelism</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance.parallelism" name="instanceParallelism" type="text"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Options -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Options</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['options']" validJson name="instanceOptions" type="text"
                       #instanceOptions="ngModel" class="form-control">
              </div>
            </fieldset>

            <div *ngIf="formErrors.instanceOptions && instanceOptions.touched" class="alert alert-warning">
              {{ formErrors.instanceOptions }}
            </div>

            <!-- Start-from -->
            <fieldset *ngIf="newInstance.module['module-type'] !== 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Start-from</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance['start-from']" name="instanceStartFrom"
                        class="form-control">
                  <option value="newest">newest</option>
                  <option value="oldest">oldest</option>
                  <option value="timestamp" *ngIf="startFromTimestampAcceptable">timestamp</option>
                </select>
              </div>
            </fieldset>

            <!-- Start-from timestamp -->
            <fieldset *ngIf="newInstance['start-from'] === 'timestamp'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Start-from timestamp</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['start-from-timestamp']" name="instanceStartFromTimestamp" type="number"
                       required class="form-control">
              </div>
            </fieldset>

            <!-- Per-task-cores -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Per-task-cores</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['per-task-cores']" name="instancePerTaskCores" type="number" step="0.01"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Per-task-ram -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Per-task-ram</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['per-task-ram']" name="instancePerTaskRam" type="number"
                       class="form-control">
              </div>
            </fieldset>

            <!-- JVM options -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">JVM options</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['jvm-options']" validJson name="instanceJvmOptions" type="text"
                       #instanceJvmOptions="ngModel" class="form-control">
              </div>
            </fieldset>

            <div *ngIf="formErrors.instanceJvmOptions && instanceJvmOptions.touched" class="alert alert-warning">
              {{ formErrors.instanceJvmOptions }}
            </div>

            <!-- Node -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Node-attributes</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['node-attributes']" name="instanceNodeAttributes" type="text"
                       #instanceNodeAttributes="ngModel" validJson class="form-control">
              </div>
            </fieldset>

            <div *ngIf="formErrors.instanceNodeAttributes && instanceNodeAttributes.touched" class="alert alert-warning">
              {{ formErrors.instanceNodeAttributes }}
            </div>

            <!-- Coordination service -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2 required">Coordination service</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance['coordination-service']" name="instanceCoordinationService"
                        required class="form-control">
                  <option *ngFor="let service of servicesList | serviceFilter : 'zookeeper' " value={{service.name}}>
                    {{service.name}}
                  </option>
                </select>
              </div>
            </fieldset>

            <!-- Performance reporting interval -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Performance reporting interval</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['performance-reporting-interval']"
                       name="instancePerformanceReportingInterval" type="number" class="form-control">
              </div>
            </fieldset>

            <!-- Event-wait-idle-time -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'regular-streaming' ||
                              newInstance.module['module-type'] === 'windowed-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Event-wait-idle-time</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['event-wait-idle-time']" name="instanceEventWaitTime" type="number"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Environment variables -->
            <fieldset class="form-group row">
              <label class="col-form-label col-sm-2">Environment variables</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['environment-variables']" name="instanceEnvironmentVariables"
                       type="text" #instanceEnvironmentVariables="ngModel" validJson class="form-control">
              </div>
            </fieldset>

            <div *ngIf="formErrors.instanceEnvironmentVariables && instanceEnvironmentVariables.touched" class="alert alert-warning">
              {{ formErrors.instanceEnvironmentVariables }}
            </div>

            <!-- Duplicate check -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Duplicate check</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance['duplicate-check']" name="instanceDuplicateCheck"
                        class="form-control">
                  <option>false</option>
                  <option>true</option>
                </select>
              </div>
            </fieldset>

            <!-- Lookup history -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Lookup history</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['lookup-history']" name="instanceLookupHistory" type="number"
                       required class="form-control">
              </div>
            </fieldset>

            <!-- Queue max size -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2 required">Queue max size</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['queue-max-size']" name="instanceQueueMaxSize" type="number"
                       required class="form-control">
              </div>
            </fieldset>

            <!-- Default eviction policy -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Default eviction policy</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance['default-eviction-policy']" name="instanceDefaultEvictionPolicy"
                        class="form-control">
                  <option>LRU</option>
                  <option>LFU</option>
                  <option>NONE</option>
                </select>
              </div>
            </fieldset>

            <!-- Eviction policy -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Eviction policy</label>
              <div class="col col-sm-10">
                <select [(ngModel)]="newInstance['eviction-policy']" name="instanceEvictionPolicy"
                        class="form-control">
                  <option>fix-time</option>
                  <option>expanded-time</option>
                </select>
              </div>
            </fieldset>

            <!-- Backup count -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Backup count</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['backup-count']" name="instanceBackupCount" type="number" max="6"
                       class="form-control">
              </div>
            </fieldset>

            <!-- Async backup count -->
            <fieldset *ngIf="newInstance.module['module-type'] === 'input-streaming'" class="form-group row">
              <label class="col-form-label col-sm-2">Async backup count</label>
              <div class="col col-sm-10">
                <input [(ngModel)]="newInstance['async-backup-count']" name="instanceAsyncBackupCount" type="number"
                       class="form-control">
              </div>
            </fieldset>
          </template>

          <!-- Action buttons -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="CreateInstance.hide()">Cancel</button>
            <button type="submit"
                    [disabled]="!(instanceForm.form.valid)"
                    class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #DeleteInstance="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteInstance.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" *ngIf="currentInstance && ifInstanceCanBeRemoved()">
        <p>Do you really want to delete instance "{{ currentInstance.name }}"? This action can not be undone!</p>
      </div>

      <div class="modal-body" *ngIf="currentInstance && !ifInstanceCanBeRemoved()">
        <p>You can not delete instance whose status is "starting", "started" or "stopping"</p>
        <ul>
          <li *ngFor="let service of blockingServices | orderBy: 'name' ">{{service.name}}</li>
        </ul>
      </div>

      <div class="modal-footer">
        <template [ngIf]="currentInstance && ifInstanceCanBeRemoved()">
          <button type="button" class="btn btn-secondary" (click)="DeleteInstance.hide()">Cancel</button>
          <button type="button" class="btn btn-danger"
                  (click)="deleteInstance(DeleteInstance)">Delete
          </button>
        </template>

        <template [ngIf]="currentInstance && !ifInstanceCanBeRemoved()">
          <button type="button" class="btn btn-primary" (click)="DeleteInstance.hide()">OK</button>
        </template>
      </div>
    </div>
  </div>
</div>
