<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

<sj-app>Loading...</sj-app>

<script>
  // Fixes undefined module function in SystemJS bundle
  function module() {
  }
</script>

<!-- shims:js -->
<!-- endinject -->

<% if (ENV === 'dev') { %>
<script src="<%= APP_BASE %>app/system-config.js"></script>
<% } %>

<!-- libs:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

<% if (ENV === 'dev') { %>
<script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
</script>
<% } %>

</body>
</html>
