<sj-spinner [isRunning]="showSpinner"></sj-spinner>

<div class="row">
  <!-- Content -->
  <div class="col col-xs-12">
    <div class="card">
      <div class="card-block">
        <!-- Title -->
        <div class="row">
          <div class="col col-xs-4"><h4 class="card-title">Custom files</h4></div>
          <div class="col col-xs-8">
            <label [ngClass]="{inProgress:isUploading}" class="btn btn-primary btn-upload pull-right ml-1 mb-1">
              <span *ngIf="!isUploading"><i class="fa fa-upload mr-1"></i>{{path === 'files'?'Uppload file':'Upload jar'}}</span>
              <i *ngIf="isUploading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              <input *ngIf="path === 'jars'" type="file" (change)="uploadFile($event)">
              <input *ngIf="path === 'files'" type="button" (click)="UploadFile.show()">
            </label>

            <sj-search-box class="pull-right"
                           (update)="term = $event"></sj-search-box>

            <!--sj-filter class="pull-right" [filterList]="settingsDomains"
                       (update)="domainterm = $event"></sj-filter-->

          </div>
        </div>

        <!-- Alerts -->
        <div class="main-alerts mt-1">
          <alert class="custom-alert"
                 *ngFor="let alert of alerts; let i = index"
                 [type]="alert.type"
                 dismissible="true"
                 [dismissOnTimeout]="alert.timeout"
                 (close)="closeAlert(i)">
            {{ alert.msg }}
          </alert>
        </div>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../jars']" [routerLinkActive]="['active']">Custom Jars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../files']" [routerLinkActive]="['active']">Custom files</a>
          </li>
        </ul>

        <!-- Files list -->
        <div class="table-wrapper">
          <table class="table table-hover table-sm mt-1 mb-0">
            <thead>
            <tr>
              <th>Name</th>
              <th *ngIf="path === 'files'">Description</th>
              <th *ngIf="path === 'jars'">Version</th>
              <th *ngIf="path === 'files'">Upload date</th>
              <th class="actions-column">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!fileList || (fileList && fileList.length === 0)">
              <td colspan="20" class="text-center">No files have been found.</td>
            </tr>

            <!--[ngClass]="{ 'table-info': isSelected(file) }" -->
            <tr *ngFor="let file of fileList | orderBy: 'name' | listFilter : { name: term}">
              <td>{{file.name}}</td>
              <td *ngIf="path === 'files'">{{file.description}}</td>
              <td *ngIf="path === 'jars'">{{file.version}}</td>
              <td *ngIf="path === 'files'">{{file['upload-date']}}</td>
              <td class="actions-column">
                <button type="button"
                        class="btn btn-sm btn-secondary"
                        title="Download file"
                        (click)="downloadFile(file)">
                  <i class="fa fa-download"></i>
                </button>
                <button type="button"
                        class="btn btn-sm btn-secondary"
                        title="Delete file"
                        (click)="deleteFileConfirm(DeleteFile, file)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<div bsModal #UploadFile="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="UploadFile.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Upload file</h4>
      </div>

      <div class="modal-body">
        <form #fileForm="ngForm" (ngSubmit)="createSetting(AddSetting)" class="form-create-entity">

          <!-- description -->
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">Description</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newDescription" name="fileDescription" type="text" class="form-control"
                     required pattern="[a-z-. ]+">
            </div>
          </fieldset>
          <fieldset class="form-group row">
            <label class="col-sm-2 col-form-label required">File</label>
            <div class="col-sm-10">
              <input required class="form-control" type="file" (change)="setNewFile($event)" name="fileContent">
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click)="UploadFile.hide()">Cancel</button>
        <button [disabled]="!(fileForm.form.valid && newFile)" type="button" class="btn btn-primary"
                (click)="UploadFile.hide();uploadFile($event)">Upload
        </button>

      </div>
    </div>
  </div>
</div>

<div bsModal #DeleteFile="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteFile.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" *ngIf="currentFile">
        <p>Do you really want to delete module "{{ currentFile.name }}"? This action can not be
          undone!</p>
      </div>
      <div class="modal-footer">
        <template [ngIf]="currentFile">
          <button type="button" class="btn btn-secondary" (click)="DeleteFile.hide()">Cancel</button>
          <button type="button" class="btn btn-danger"
                  (click)="deleteFile(DeleteFile)">Delete
          </button>
        </template>

      </div>
    </div>
  </div>
</div>
