:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

.providers-list {
  width: 75%;
  display: inline-block;
  margin-top: 30px;
}

.providers-list ul {
  list-style-type: none;
  padding: 0 0 0 8px;
  padding-top: 60px;
}

.providers-list ul li {
  cursor: pointer;
}

.providers-list ul li:hover {
  cursor: pointer;
  background-color: rgba(155, 228, 175, 0.1);
}

.providers-list ul > li:nth-of-type(1):hover {
  cursor: default !important;
  background-color: white !important;
}

h2 {
  text-align: center;
}

.right-inner-addon {
  position: relative;
  float: right;
  margin-right: 15px;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0;
  padding: 10px 12px;
  pointer-events: none;
}

.kafkaStyle {
  width: 50% !important;
}

.kafka-zk-prefix {
  width: 20% !important;
}

.provider-host .kafka-zk-prefix {
  margin-top: 5px;
}

.provider-host:nth-of-type(1) .kafka-zk-prefix {
  margin-top: 0;
}

.provider-host.kafkaStyle input {
  margin-left: 25%;
  margin-top: 5px;
}

.provider-host:nth-of-type(1) input {
  margin-left: 0;
  margin-top: 0;
}

.detail-info {
  margin-right: 10px;
}

.form-type,
.form-desc {
  width: 70% !important;
}

.form-submit {
  width: 35%;
}

.form-actions {
  text-align: right;
  margin-right: 5%;
}

.modal-title {
  text-align: center !important;
}

.providers-list ul .selected,
.providers-list ul .selected:hover {
  background-color: rgba(155, 228, 175, 0.42);
}

.right-detail {
  display: inline-block;
  float: right;
  padding: 0 16px;
  height: 100%;
  width: 24%;
  border-left: 2px solid #ececec;
}

.right-detail p {
  text-align: center;
}

.provider-host input:nth-of-type(1) {
  margin-left: 25% !important;
  margin-top: 5px !important;
}

.provider-host:nth-of-type(1) input:nth-of-type(1) {
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.main-alerts {
  margin-top: 70px;
  margin-bottom: -40px;
}

.main-alerts .custom-alert div {
  margin-bottom: 0 !important;
}

.provider-name {
  width: 30%;
  display: inline-block;
}

.provider-description {
  width: 40%;
  display: inline-block;
}

.provider-host {
  position: relative;
}

.provider-host .fa.fa-remove {
  position: absolute;
  right: 16px;
  top: 12px;
  cursor: pointer;
}
