<div class="providers-list">
  <h2>Providers list</h2>

<button type="button" class="btn create-provider" (click)="CreateProvider.show()">+ Create provider</button>

<search-box (update)="term = $event"></search-box>

  <div bsModal #CreateProvider="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="CreateProvider.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Create Provider</h4>
        </div>
        <div class="modal-body">
          <form *ngIf="new_provider" (ngSubmit)="createProvider(CreateProvider)" class="form-create-provider" >
            <fieldset class="form-group">
              <label  class="col-sm-3 form-control-label required">Choose type</label>
              <select [(ngModel)]="new_provider.type"  name="providerType" required class="form-control form-type col-sm-10" > <!-- [(ngModel)]="form_providerType" #item (change)="onChange(item.value)"  -->
                <option value="zookeeper">Zookeeper</option>
                <option value="kafka">Kafka</option>
                <option value="redis">Redis</option>
                <option value="aerospike">Aerospike</option>
                <option value="cassandra">Cassandra</option>
                <option value="ES">ElasticSearch</option>
              </select>
            </fieldset>

            <fieldset class="form-group">
              <label  class="col-sm-3 form-control-label required">Name</label>
              <input required [(ngModel)]="new_provider.name" name="providerName" type="text" class="form-control col-sm-10" placeholder="Enter provider name">
            </fieldset>
            <fieldset class="form-group">
              <label class="col-sm-3 form-control-label required">Description</label>
              <textarea [(ngModel)]="new_provider.description" name="providerDescription"
                        class="form-control form-type col-sm-10" placeholder="Enter provider description" required></textarea>
            </fieldset>
            <fieldset *ngIf="provider_hosts" class="form-group">
              <label class="col-sm-3 form-control-label required">Hosts</label>
              <div *ngFor='let host of new_provider.hosts; let i = index' class="provider-host">
                <input [ngClass]="{kafkaStyle: isKafka}" required [(ngModel)]="new_provider.hosts[i]" name="providerHosts"
                       type="text" class="form-control col-sm-10 "  placeholder="IPv4:port"><div *ngIf="i!==0" (click)="delete_host(i)">Close</div>
                <!--<input *ngIf="form_template == 'Kafka'" required [(ngModel)]="form_hosts_prefixes[i]" type="text" class="form-control col-sm-10 kafka-zk-prefix"  placeholder="ZK prefix">-->
                <!--pattern="^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5]):(6553[0-5]|655[0-2][0-9]\d|65[0-4](\d){2}|6[0-4](\d){3}|[1-5](\d){4}|[1-9](\d){0,3})$"-->
              </div>
              <button type="button" (click)="addHost()" class="btn btn-link form-add-host">+ Add</button>

            </fieldset>
            <fieldset class="form-group">
              <label class="col-sm-3 form-control-label">Login</label>
              <input [(ngModel)]="new_provider.login" name="providerLogin" type="text" class="form-control col-sm-10" placeholder="Enter provider login">
            </fieldset>
            <fieldset class="form-group">
              <label class="col-sm-3 form-control-label">Password</label>
              <input [(ngModel)]="new_provider.password" name="providerPassword" type="text" class="form-control col-sm-10" placeholder="Enter provider password">
            </fieldset>
            <fieldset class="form-actions">
              <button type="submit" class="btn btn-primary form-submit">Create</button>
              <button type="button" class="btn btn-danger"  (click)="CreateProvider.hide()">Cancel</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="main-alerts">
    <alert class="custom-alert" *ngFor="let alert of alerts; let i = index" [type]="alert.type" dismissible="true" [dismissOnTimeout]="alert.timeout" (close)="closeAlert(i)">
      {{ alert.msg }}
    </alert>
  </div>

  <ul>
    <li class="list-group-item">
      <span class="provider-name">Name</span>
      <span class="provider-description">Description</span>
    </li>
    <li class="list-group-item" [ngClass]="{selected:isSelected(provider)}" (click)="provider_select(provider)"
        *ngFor="let provider of providerList | orderBy: 'name' | listFilter : term " >
      <span class="provider-name">{{ provider.name }}</span>
      <span class="provider-description">{{ provider.description }}</span>
      <i class="fa fa-trash  pull-right" (click)="delete_provider_confirm(DeleteProvider, provider)" aria-hidden="true"></i>
      <i class="fa fa-file-text pull-right detail-info" aria-hidden="true" title="Show detailed info"></i>
      <i class="fa fa-refresh  pull-right" [ngClass]="{'fa-spin':isConnecting(provider)}"
         (click)="testConnection(provider)" aria-hidden="true" title="Test connection"></i>

    </li>
  </ul>
</div>

<div bsModal #DeleteProvider="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteProvider.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>
      <div class="modal-body" *ngIf="provider_to_delete && (blockingServices.length === 0)">
        <p>Do you really want to delete provider " {{ provider_to_delete.name }} " ? This action can not be undone!</p>
        <fieldset class="form-actions">
          <button type="button" class="btn btn-danger pull-left"  (click)="delete_provider(DeleteProvider, provider_to_delete)">Delete</button>
          <button type="button" class="btn btn-primary "  (click)="DeleteProvider.hide()">Cancel</button>
        </fieldset>
      </div>
      <div class="modal-body" *ngIf="provider_to_delete && (blockingServices.length > 0)">
        <p>Unable to delete provider! Next services using provider " {{ provider_to_delete.name }} "</p>
        <ul>
        <li *ngFor="let service of blockingServices | orderBy: 'name' ">{{service.name}}</li>
        </ul>
        <fieldset class="form-actions">
          <button type="button" class="btn btn-primary "  (click)="DeleteProvider.hide()">Ok</button>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div class="right-detail">
  <p>Detailed information about node</p>
  <ul *ngIf="current_provider">
    <li>Name: {{current_provider.name}}</li>
    <li>Type: {{current_provider.type}}</li>
    <li>Description: {{current_provider.description}}</li>
    <li>Hosts:
      <ul>
        <li *ngFor="let host of current_provider.hosts">{{host}}</li>
      </ul>
    </li>
    <li *ngIf="current_provider.login">Login: {{current_provider.login}}</li>
    <li *ngIf="current_provider.password">Password: {{current_provider.password}}</li>
  </ul>
</div>
