<div class="services-list">
  <h2>Services list</h2>

  <button type="button" class="btn create-provider" (click)="CreateService.show()">+ Create service</button>

  <sj-search-box (update)="term = $event"></sj-search-box>


  <div bsModal #CreateService="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="CreateService.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Create Service</h4>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="createService(CreateService)" class="form-create-provider">
            <fieldset class="form-group">
              <label class="col-sm-3 form-control-label ">Choose type</label>
              <select required [(ngModel)]="new_service.type" name="serviceType"
                      class="form-control form-type col-sm-10">
                <option value="ArspkDB">Aerospike DB</option>
                <option value="CassDB">Cassandra DB</option>
                <option value="ESInd">Elasticsearch Index</option>
                <option value="KfkQ">Kafka queue</option>
                <option value="TstrQ">T-streams queue</option>
                <option value="RdsCoord">Redis coordination</option>
                <option value="ZKCoord">Zookeeper coordination</option>
              </select>
            </fieldset>

            <fieldset class="form-group">
              <label class="col-sm-3 form-control-label">Name</label>
              <input [(ngModel)]="new_service.name" name="serviceName" type="text" class="form-control col-sm-10"
                     required>
            </fieldset>
            <fieldset class="form-group">
              <label class="col-sm-3 form-control-label">Description</label>
              <textarea [(ngModel)]="new_service.description" name="serviceDescription"
                        class="form-control form-type col-sm-10"></textarea>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'CassDB'" class="form-group">
              <label class="col-sm-3 form-control-label">Keyspace</label>
              <input [(ngModel)]="new_service.keyspace" name="serviceKeyspace" type="text"
                     class="form-control col-sm-10" required>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'ZKCoord' ||
                      new_service.type == 'RdsCoord' ||  new_service.type == 'ArspkDB' " class="form-group">
              <label class="col-sm-3 form-control-label">Namespace</label>
              <input [(ngModel)]="new_service.namespace" name="serviceNamespace" type="text"
                     class="form-control col-sm-10" required>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'ESInd'" class="form-group">
              <label class="col-sm-3 form-control-label">Index</label>
              <input [(ngModel)]="new_service.index" name="serviceIndex" type="text" class="form-control col-sm-10"
                     required>
            </fieldset>
            <fieldset *ngIf="new_service.type && new_service.type != 'TstrQ'" class="form-group">
              <label class="col-sm-3 form-control-label">Provider</label>
              <select [(ngModel)]="new_service.provider" name="streamService" required
                      class="form-control form-type col-sm-10">
                <option *ngFor="let provider of providerList | providerFilter : new_service.type "
                        value={{provider.name}}>{{provider.name}}
                </option>
              </select>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'TstrQ'" class="form-group">
              <label class="col-sm-3 form-control-label">Metadata provider</label>
              <select [(ngModel)]="new_service['metadata-provider']" name="serviceMetadataProvider"
                      required class="form-control form-type col-sm-10">
                <option *ngFor="let provider of providerList | providerFilter : 'CassDB' " value={{provider.name}}>
                  {{provider.name}}
                </option>
              </select>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'TstrQ'" class="form-group">
              <label class="col-sm-3 form-control-label">Metadata namespace</label>
              <input [(ngModel)]="new_service['metadata-namespace']" name="serviceMetadataNamespace" type="text"
                     class="form-control col-sm-10" required>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'TstrQ'" class="form-group">
              <label class="col-sm-3 form-control-label">Data provider</label>
              <select [(ngModel)]="new_service['data-provider']" name="serviceDataProvider"
                      required class="form-control form-type col-sm-10">
                <option *ngFor="let provider of providerList | providerFilter : 'DataProvider' "
                        value={{provider.name}}>{{provider.name}}
                </option>
              </select>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'TstrQ'" class="form-group">
              <label class="col-sm-3 form-control-label">Data namespace</label>
              <input [(ngModel)]="new_service['data-namespace']" name="serviceDataNamespace" type="text"
                     class="form-control col-sm-10" required>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'TstrQ'" class="form-group">
              <label class="col-sm-3 form-control-label">Lock provider</label>
              <select [(ngModel)]="new_service['lock-provider']" name="serviceLockProvider"
                      required class="form-control form-type col-sm-10">
                <option *ngFor="let provider of providerList | providerFilter : 'LockProvider' "
                        value={{provider.name}}>{{provider.name}}
                </option>
              </select>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'TstrQ'" class="form-group">
              <label class="col-sm-3 form-control-label">Lock namespace</label>
              <input [(ngModel)]="new_service['lock-namespace']" name="serviceLockNamespace" type="text"
                     class="form-control col-sm-10" required>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'ESInd'" class="form-group">
              <label class="col-sm-3 form-control-label">Login</label>
              <input [(ngModel)]="new_service.login" name="serviceLogin" type="text" class="form-control col-sm-10"
                     placeholder="Enter service login">
            </fieldset>
            <fieldset *ngIf="new_service.type== 'ESInd'" class="form-group">
              <label class="col-sm-3 form-control-label">Password</label>
              <input [(ngModel)]="new_service.password" name="servicePassword" type="text"
                     class="form-control col-sm-10" placeholder="Enter service password">
            </fieldset>
            <fieldset *ngIf="new_service.type == 'KfkQ'" class="form-group">
              <label class="col-sm-3 form-control-label">ZK provider</label>
              <select [(ngModel)]="new_service['zk-provider']" name="serviceZkProvider"
                      class="form-control form-type col-sm-10">
                <option *ngFor="let provider of providerList | providerFilter : 'ZKCoord' " value={{provider.name}}>
                  {{provider.name}}
                </option>
              </select>
            </fieldset>
            <fieldset *ngIf="new_service.type == 'KfkQ'" class="form-group">
              <label class="col-sm-3 form-control-label">ZK namespace</label>
              <input [(ngModel)]="new_service['zk-namespace']" name="serviceZkNamespace" type="text"
                     class="form-control col-sm-10" required>
            </fieldset>
            <fieldset class="form-actions">
              <button type="submit" class="btn btn-primary form-submit">Create</button>
              <button type="button" class="btn btn-danger" (click)="CreateService.hide()">Cancel</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="main-alerts">
    <alert class="custom-alert" *ngFor="let alert of alerts; let i = index" [type]="alert.type" dismissible="true"
           [dismissOnTimeout]="alert.timeout" (close)="closeAlert(i)">
      {{ alert.msg }}
    </alert>
  </div>

  <ul>
    <li class="list-group-item">
      <span class="service-name">Name</span>
      <span class="service-description">Description</span>
      <span class="service-provider-link">Provider</span>
    </li>
    <li class="list-group-item" [ngClass]="{selected:isSelected(service)}" (click)="service_select(service)"
        *ngFor="let service of serviceList | orderBy: 'name' | listFilter : term">
      <span class="service-name">{{ service.name }}</span>
      <span class="service-description">{{ service.description }}</span>
      <span *ngIf="service.type != 'TstrQ'" class="service-provider-link">Provider:
        <span class="btn-lookup provider-link" (click)="get_provider_info(ProviderInfo, service.provider)">
          {{ service.provider }}
        </span>
      </span>

      <i class="fa fa-file-text pull-right detail-info" aria-hidden="true" title="Show detailed info"></i>
      <i class="fa fa-trash  pull-right" (click)="delete_service_confirm(DeleteService, service)"
         aria-hidden="true"></i></li>

  </ul>

</div>

<div class="right-detail">
  <p>Detailed information about node</p>
  <ul *ngIf="current_service">
    <li>Name: {{current_service.name}}</li>
    <li>Type: {{current_service.type}}</li>
    <li>Description: {{current_service.description}}</li>
    <li *ngIf="current_service.type == 'CassDB'">Keyspace: {{current_service.keyspace}}</li>
    <li *ngIf="current_service.type == 'ESInd'">Index: {{current_service.index}}</li>
    <li *ngIf="current_service.type == 'TstrQ' || current_service.type == 'ZKCoord'
              || current_service.type == 'RdsCoord' || current_service.type == 'ArspkDB'">
      Namespace: {{current_service.namespace}}
    </li>
    <li *ngIf="current_service.type != 'TstrQ'">Provider:
      <span class="btn-lookup provider-link" (click)="get_provider_info(ProviderInfo, current_service.provider)">
        {{ current_service.provider }}
      </span>
    </li>
    <li *ngIf="current_service.type == 'TstrQ'">Metadata provider: <span class="btn-lookup provider-link"
                                                                         (click)="get_provider_info(ProviderInfo, current_service.metadata_provider)">{{current_service['metadata-provider']}}</span>
    </li>
    <li *ngIf="current_service.type == 'TstrQ'">Metadata namespace: {{current_service['metadata-namespace']}}</li>
    <li *ngIf="current_service.type == 'TstrQ'">Data provider: <span class="btn-lookup provider-link"
                                                                     (click)="get_provider_info(ProviderInfo, current_service.data_provider)">{{current_service['data-provider']}}</span>
    </li>
    <li *ngIf="current_service.type == 'TstrQ'">Data namespace: {{current_service['data-namespace']}}</li>
    <li *ngIf="current_service.type == 'TstrQ'">Lock provider: <span class="btn-lookup provider-link"
                                                                     (click)="get_provider_info(ProviderInfo, current_service.lock_provider)">{{current_service['lock-provider']}}</span>
    </li>
    <li *ngIf="current_service.type == 'TstrQ'">Lock namespace: {{current_service['lock-namespace']}}</li>
  </ul>
</div>

<div bsModal #ProviderInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="ProviderInfo.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Provider info</h4>
      </div>
      <div class="modal-body">
        <ul *ngIf="current_service_provider">
          <li>Name: {{current_service_provider.name}}</li>
          <li>Type: {{current_service_provider.type}}</li>
          <li>Description: {{current_service_provider.description}}</li>
          <li>Hosts:
            <ul>
              <li *ngFor="let host of current_service_provider.hosts">{{host}}</li>
            </ul>
          </li>
          <li *ngIf="current_service_provider.login">Login: {{current_service_provider.login}}</li>
          <li *ngIf="current_service_provider.password">Password: {{current_service_provider.password}}</li>
        </ul>
        <fieldset class="form-actions">
          <button type="button" class="btn btn-success" (click)="ProviderInfo.hide()">OK</button>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div bsModal #DeleteService="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="DeleteService.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>
      <div class="modal-body" *ngIf="service_to_delete && (blockingStreams.length === 0)">
        <p>Do you really want to delete service " {{ service_to_delete.name }} " ? This action can not be undone!</p>
        <fieldset class="form-actions">
          <button type="button" class="btn btn-danger pull-left"
                  (click)="delete_service(DeleteService, service_to_delete)">Delete
          </button>
          <button type="button" class="btn btn-primary " (click)="DeleteService.hide()">Cancel</button>
        </fieldset>
      </div>
      <div class="modal-body" *ngIf="service_to_delete && (blockingStreams.length > 0)">
        <p>Unable to delete service! Next streams using service " {{ service_to_delete.name }} "</p>
        <ul>
          <li *ngFor="let stream of blockingStreams | orderBy: 'name' ">{{stream.name}}</li>
        </ul>
        <fieldset class="form-actions">
          <button type="button" class="btn btn-primary " (click)="DeleteService.hide()">Ok</button>
        </fieldset>
      </div>
    </div>
  </div>
</div>
