:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  background-color: #ececec;
  display: block;
  position: fixed;
  width: 180px;
  z-index: 1000;
  height: 100%;
}

nav a {
  display: block;
  margin: 0;
  height: 48px;
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  text-decoration: none;
  vertical-align: middle;
  padding: 0 20px;
}

nav a.router-link-active {
  color: #106cc8;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0;
  cursor: pointer;
}
nav ul a.is-active,
nav ul a.is-active:hover {
  background-color: white;
  cursor: default;
}
nav ul a:hover {
  background-color: rgba(155, 228, 175, 0.42);
}
