<nav>
  <ul>
    <li><a [routerLink]="['/providers']" [routerLinkActive]="['is-active']">Providers</a></li>
    <li><a [routerLink]="['/services']" [routerLinkActive]="['is-active']">Services</a></li>
    <li><a [routerLink]="['/streams']" [routerLinkActive]="['is-active']">Streams</a></li>
    <li><a [routerLink]="['/modules']" [routerLinkActive]="['is-active']">Modules</a></li>
    <li><a [routerLink]="['/instances']" [routerLinkActive]="['is-active']">Instances</a></li>
    <li><a>Config settings</a></li>
  </ul>
</nav>
